spec/fixtures/wsdl/xml/authentication.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="AuthenticationWebServiceImplService" targetNamespace="http://v1_0.ws.auth.order.example.com/" xmlns:ns1="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://v1_0.ws.auth.order.example.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://v1_0.ws.auth.order.example.com/" xmlns:tns="http://v1_0.ws.auth.order.example.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="authenticate" type="tns:authenticate" />
<xs:element name="authenticateResponse" type="tns:authenticateResponse" />
<xs:element name="authenticationResult" type="tns:authenticationResult" />
<xs:element name="authenticationValue" type="tns:authenticationValue" />
<xs:complexType name="authenticate">
<xs:sequence>
<xs:element minOccurs="0" name="user" type="xs:string" />
<xs:element minOccurs="0" name="password" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="authenticateResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:authenticationResult" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="authenticationResult">
<xs:sequence>
<xs:element minOccurs="0" name="authenticationValue" nillable="true" type="tns:authenticationValue" />
<xs:element name="success" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="authenticationValue">
<xs:sequence>
<xs:element name="token" type="xs:string" />
<xs:element name="tokenHash" type="xs:string" />
<xs:element name="client" type="xs:string" />
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="authenticate">
    <wsdl:part element="tns:authenticate" name="parameters" />
  </wsdl:message>
  <wsdl:message name="authenticateResponse">
    <wsdl:part element="tns:authenticateResponse" name="parameters" />
  </wsdl:message>
  <wsdl:portType name="AuthenticationWebService">
    <wsdl:operation name="authenticate">
      <wsdl:input message="tns:authenticate" name="authenticate" />
      <wsdl:output message="tns:authenticateResponse" name="authenticateResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuthenticationWebServiceImplServiceSoapBinding" type="tns:AuthenticationWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="authenticate">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="authenticate">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="authenticateResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthenticationWebServiceImplService">
    <wsdl:port binding="tns:AuthenticationWebServiceImplServiceSoapBinding" name="AuthenticationWebServiceImplPort">
      <soap:address location="http://example.com/validation/1.0/AuthenticationService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
