spec/fixtures/wsdl/xml/medpass.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Api" xmlns:typens="urn:ActionWebService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="urn:ActionWebService" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:ActionWebService">
      <xsd:complexType name="MedpassUser">
        <xsd:all>
          <xsd:element name="avatar_thumb_url" type="xsd:string"/>
          <xsd:element name="speciality" type="xsd:string"/>
          <xsd:element name="avatar_icon_url" type="xsd:string"/>
          <xsd:element name="firstname" type="xsd:string"/>
          <xsd:element name="city" type="xsd:string"/>
          <xsd:element name="medpass_id" type="xsd:int"/>
          <xsd:element name="lastname" type="xsd:string"/>
          <xsd:element name="login" type="xsd:string"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="User">
        <xsd:all>
          <xsd:element name="id" type="xsd:int"/>
          <xsd:element name="login" type="xsd:string"/>
          <xsd:element name="password" type="xsd:string"/>
          <xsd:element name="group_id" type="xsd:int"/>
          <xsd:element name="score" type="xsd:int"/>
          <xsd:element name="last_notice" type="xsd:int"/>
          <xsd:element name="skip_counter" type="xsd:int"/>
          <xsd:element name="role" type="xsd:string"/>
          <xsd:element name="last_command" type="xsd:int"/>
          <xsd:element name="plain_password" type="xsd:string"/>
          <xsd:element name="eula" type="xsd:string"/>
          <xsd:element name="publisher" type="xsd:boolean"/>
          <xsd:element name="modyfied_at" type="xsd:date"/>
          <xsd:element name="verification_record" type="xsd:int"/>
          <xsd:element name="verification_effect" type="xsd:int"/>
          <xsd:element name="verification_date" type="xsd:dateTime"/>
          <xsd:element name="status" type="xsd:boolean"/>
          <xsd:element name="created_at" type="xsd:dateTime"/>
          <xsd:element name="updated_at" type="xsd:dateTime"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="LegacyData">
        <xsd:all>
          <xsd:element name="legacy_uid" type="xsd:string"/>
          <xsd:element name="pwz" type="xsd:int"/>
          <xsd:element name="phone" type="xsd:string"/>
          <xsd:element name="speciality" type="xsd:string"/>
          <xsd:element name="gender" type="xsd:int"/>
          <xsd:element name="user_id" type="xsd:int"/>
          <xsd:element name="city" type="xsd:string"/>
          <xsd:element name="email" type="xsd:string"/>
          <xsd:element name="firstname" type="xsd:string"/>
          <xsd:element name="doctor" type="xsd:int"/>
          <xsd:element name="lastname" type="xsd:string"/>
          <xsd:element name="legacy_id" type="xsd:int"/>
          <xsd:element name="mobile_phone" type="xsd:string"/>
          <xsd:element name="login" type="xsd:string"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="McThread">
        <xsd:all>
          <xsd:element name="items" type="typens:McMessageArray"/>
          <xsd:element name="sender_id" type="xsd:int"/>
          <xsd:element name="author" type="xsd:string"/>
          <xsd:element name="count" type="xsd:int"/>
          <xsd:element name="subject" type="xsd:string"/>
          <xsd:element name="created_at" type="xsd:dateTime"/>
          <xsd:element name="updated_at" type="xsd:dateTime"/>
          <xsd:element name="thread_id" type="xsd:int"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="MedpassGroup">
        <xsd:all>
          <xsd:element name="id" type="xsd:int"/>
          <xsd:element name="title" type="xsd:string"/>
          <xsd:element name="description" type="xsd:string"/>
          <xsd:element name="moderated" type="xsd:boolean"/>
          <xsd:element name="created_by" type="xsd:int"/>
          <xsd:element name="valid_to" type="xsd:date"/>
          <xsd:element name="created_at" type="xsd:dateTime"/>
          <xsd:element name="updated_at" type="xsd:dateTime"/>
          <xsd:element name="onelink" type="xsd:boolean"/>
          <xsd:element name="public" type="xsd:boolean"/>
          <xsd:element name="users_count" type="xsd:int"/>
          <xsd:element name="posts_count" type="xsd:int"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ExportedProfile">
        <xsd:all>
          <xsd:element name="skype" type="xsd:string"/>
          <xsd:element name="phone" type="xsd:string"/>
          <xsd:element name="address" type="xsd:string"/>
          <xsd:element name="gender" type="xsd:int"/>
          <xsd:element name="postcode" type="xsd:string"/>
          <xsd:element name="speciality" type="xsd:string"/>
          <xsd:element name="gadu" type="xsd:string"/>
          <xsd:element name="user_id" type="xsd:int"/>
          <xsd:element name="nameday" type="xsd:date"/>
          <xsd:element name="email" type="xsd:string"/>
          <xsd:element name="firstname" type="xsd:string"/>
          <xsd:element name="city" type="xsd:string"/>
          <xsd:element name="lastname" type="xsd:string"/>
          <xsd:element name="birthday" type="xsd:date"/>
          <xsd:element name="province" type="xsd:string"/>
          <xsd:element name="mobile_phone" type="xsd:string"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="McMessage">
        <xsd:all>
          <xsd:element name="read" type="xsd:boolean"/>
          <xsd:element name="author" type="xsd:string"/>
          <xsd:element name="parent_id" type="xsd:int"/>
          <xsd:element name="created_at" type="xsd:dateTime"/>
          <xsd:element name="received" type="xsd:boolean"/>
          <xsd:element name="recipient" type="xsd:string"/>
          <xsd:element name="message_id" type="xsd:int"/>
          <xsd:element name="poll_id" type="xsd:int"/>
          <xsd:element name="thread_id" type="xsd:int"/>
          <xsd:element name="content" type="xsd:string"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="WebMessage">
        <xsd:all>
          <xsd:element name="sender" type="xsd:string"/>
          <xsd:element name="read" type="xsd:int"/>
          <xsd:element name="subject" type="xsd:string"/>
          <xsd:element name="body" type="xsd:string"/>
          <xsd:element name="created_at" type="xsd:date"/>
          <xsd:element name="type_id" type="xsd:int"/>
          <xsd:element name="answered" type="xsd:int"/>
          <xsd:element name="recipient" type="xsd:string"/>
          <xsd:element name="deleted" type="xsd:int"/>
          <xsd:element name="short" type="xsd:int"/>
          <xsd:element name="id" type="xsd:int"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="MedpassUserArray">
        <xsd:complexContent>
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="typens:MedpassUser[]" ref="soapenc:arrayType"/>
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="UserCompanySoap">
        <xsd:all>
          <xsd:element name="place_id" type="xsd:int"/>
          <xsd:element name="name" type="xsd:string"/>
          <xsd:element name="medpass_id" type="xsd:int"/>
          <xsd:element name="position" type="xsd:string"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="McContact">
        <xsd:all>
          <xsd:element name="last_name" type="xsd:string"/>
          <xsd:element name="email" type="xsd:string"/>
          <xsd:element name="medpass_id" type="xsd:int"/>
          <xsd:element name="role" type="xsd:int"/>
          <xsd:element name="login" type="xsd:string"/>
          <xsd:element name="first_name" type="xsd:string"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="UserCompanySoapArray">
        <xsd:complexContent>
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="typens:UserCompanySoap[]" ref="soapenc:arrayType"/>
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="McMessageArray">
        <xsd:complexContent>
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="typens:McMessage[]" ref="soapenc:arrayType"/>
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="McThreads">
        <xsd:all>
          <xsd:element name="items" type="typens:McThreadArray"/>
          <xsd:element name="count" type="xsd:int"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="WebMessageArray">
        <xsd:complexContent>
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="typens:WebMessage[]" ref="soapenc:arrayType"/>
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="McContacts">
        <xsd:all>
          <xsd:element name="items" type="typens:McContactArray"/>
          <xsd:element name="count" type="xsd:int"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="McContactArray">
        <xsd:complexContent>
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="typens:McContact[]" ref="soapenc:arrayType"/>
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="McThreadArray">
        <xsd:complexContent>
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="typens:McThread[]" ref="soapenc:arrayType"/>
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="UserEmailAccount">
        <xsd:all>
          <xsd:element name="pass" type="xsd:string"/>
          <xsd:element name="username" type="xsd:string"/>
          <xsd:element name="domain" type="xsd:string"/>
          <xsd:element name="firstname" type="xsd:string"/>
          <xsd:element name="lastname" type="xsd:string"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="IntegerArray">
        <xsd:complexContent>
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="xsd:int[]" ref="soapenc:arrayType"/>
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="MedpassGroupArray">
        <xsd:complexContent>
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="typens:MedpassGroup[]" ref="soapenc:arrayType"/>
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="UserArray">
        <xsd:complexContent>
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="typens:User[]" ref="soapenc:arrayType"/>
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="StringArray">
        <xsd:complexContent>
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="xsd:string[]" ref="soapenc:arrayType"/>
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="GetContacts">
    <part name="login" type="xsd:string"/>
    <part name="password" type="xsd:string"/>
    <part name="api_key" type="xsd:string"/>
  </message>
  <message name="GetContactsResponse">
    <part name="return" type="typens:McContacts"/>
  </message>
  <message name="AcceptUser">
    <part name="api_key" type="xsd:string"/>
    <part name="group_id" type="xsd:int"/>
    <part name="user_id" type="xsd:int"/>
    <part name="admin_id" type="xsd:int"/>
  </message>
  <message name="AcceptUserResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <message name="MessageSend">
    <part name="api_key" type="xsd:string"/>
    <part name="from" type="xsd:string"/>
    <part name="to" type="xsd:string"/>
    <part name="subject" type="xsd:string"/>
    <part name="body" type="xsd:string"/>
    <part name="app" type="xsd:string"/>
  </message>
  <message name="MessageSendResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <message name="CreateMedpassGroup">
    <part name="api_key" type="xsd:string"/>
    <part name="title" type="xsd:string"/>
    <part name="description" type="xsd:string"/>
    <part name="moderated" type="xsd:boolean"/>
    <part name="user_id" type="xsd:int"/>
    <part name="valid_to" type="xsd:date"/>
    <part name="link" type="xsd:string"/>
  </message>
  <message name="CreateMedpassGroupResponse">
    <part name="return" type="typens:MedpassGroup"/>
  </message>
  <message name="FieldGet">
    <part name="api_key" type="xsd:string"/>
    <part name="openid_url" type="xsd:string"/>
    <part name="field" type="xsd:string"/>
  </message>
  <message name="FieldGetResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="PremiumActivate">
    <part name="api_key" type="xsd:string"/>
    <part name="openid_url" type="xsd:string"/>
    <part name="code" type="xsd:string"/>
  </message>
  <message name="PremiumActivateResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="GetMedpassGroupsByLink">
    <part name="api_key" type="xsd:string"/>
    <part name="link" type="xsd:string"/>
  </message>
  <message name="GetMedpassGroupsByLinkResponse">
    <part name="return" type="typens:MedpassGroupArray"/>
  </message>
  <message name="MessageListByScienceImei">
    <part name="api_key" type="xsd:string"/>
    <part name="imei" type="xsd:string"/>
    <part name="all" type="xsd:int"/>
  </message>
  <message name="MessageListByScienceImeiResponse">
    <part name="return" type="typens:WebMessageArray"/>
  </message>
  <message name="GetDesiredName">
    <part name="api_key" type="xsd:string"/>
    <part name="openid_url" type="xsd:string"/>
  </message>
  <message name="GetDesiredNameResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="ScoreGrant">
    <part name="api_key" type="xsd:string"/>
    <part name="openid_url" type="xsd:string"/>
    <part name="amount" type="xsd:int"/>
    <part name="reason" type="xsd:string"/>
    <part name="link" type="xsd:string"/>
  </message>
  <message name="ScoreGrantResponse">
    <part name="return" type="xsd:int"/>
  </message>
  <message name="IsUserPremium">
    <part name="api_key" type="xsd:string"/>
    <part name="openid_url" type="xsd:string"/>
    <part name="premium_service_id" type="xsd:int"/>
  </message>
  <message name="IsUserPremiumResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <message name="MessageList">
    <part name="api_key" type="xsd:string"/>
    <part name="openid_url" type="xsd:string"/>
    <part name="start" type="xsd:int"/>
    <part name="count" type="xsd:int"/>
    <part name="app" type="xsd:string"/>
  </message>
  <message name="MessageListResponse">
    <part name="return" type="typens:WebMessageArray"/>
  </message>
  <message name="GetUnreadThreads">
    <part name="login" type="xsd:string"/>
    <part name="password" type="xsd:string"/>
    <part name="api_key" type="xsd:string"/>
  </message>
  <message name="GetUnreadThreadsResponse">
    <part name="return" type="typens:McThreads"/>
  </message>
  <message name="ContactsList">
    <part name="api_key" type="xsd:string"/>
    <part name="openid_url" type="xsd:string"/>
  </message>
  <message name="ContactsListResponse">
    <part name="return" type="typens:StringArray"/>
  </message>
  <message name="SetOption">
    <part name="login" type="xsd:string"/>
    <part name="password" type="xsd:string"/>
    <part name="api_key" type="xsd:string"/>
    <part name="key" type="xsd:string"/>
    <part name="value" type="xsd:string"/>
  </message>
  <message name="SetOptionResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <message name="AddContact">
    <part name="login" type="xsd:string"/>
    <part name="password" type="xsd:string"/>
    <part name="api_key" type="xsd:string"/>
    <part name="login_to_add" type="xsd:string"/>
  </message>
  <message name="AddContactResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <message name="GetAllLegacyDataByUid">
    <part name="api_key" type="xsd:string"/>
    <part name="uid" type="xsd:string"/>
  </message>
  <message name="GetAllLegacyDataByUidResponse">
    <part name="return" type="typens:LegacyData"/>
  </message>
  <message name="ExportProfile">
    <part name="api_key" type="xsd:string"/>
    <part name="openid_url" type="xsd:string"/>
  </message>
  <message name="ExportProfileResponse">
    <part name="return" type="typens:ExportedProfile"/>
  </message>
  <message name="ApplyToMedpassGroup">
    <part name="api_key" type="xsd:string"/>
    <part name="group_id" type="xsd:int"/>
    <part name="user_id" type="xsd:int"/>
  </message>
  <message name="ApplyToMedpassGroupResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <message name="MessageSentDelete">
    <part name="api_key" type="xsd:string"/>
    <part name="message_id" type="xsd:int"/>
  </message>
  <message name="MessageSentDeleteResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <message name="ExportProfileFromPwz">
    <part name="api_key" type="xsd:string"/>
    <part name="pwz" type="xsd:string"/>
  </message>
  <message name="ExportProfileFromPwzResponse">
    <part name="return" type="typens:ExportedProfile"/>
  </message>
  <message name="MedpassConnectAuthorization">
    <part name="login" type="xsd:string"/>
    <part name="password" type="xsd:string"/>
    <part name="api_key" type="xsd:string"/>
  </message>
  <message name="MedpassConnectAuthorizationResponse">
    <part name="return" type="xsd:int"/>
  </message>
  <message name="MessageListByImei">
    <part name="api_key" type="xsd:string"/>
    <part name="imei" type="xsd:string"/>
    <part name="all" type="xsd:int"/>
  </message>
  <message name="MessageListByImeiResponse">
    <part name="return" type="typens:WebMessageArray"/>
  </message>
  <message name="GetUserEmailAccount">
    <part name="api_key" type="xsd:string"/>
    <part name="login" type="xsd:string"/>
  </message>
  <message name="GetUserEmailAccountResponse">
    <part name="return" type="typens:UserEmailAccount"/>
  </message>
  <message name="RemoveContact">
    <part name="login" type="xsd:string"/>
    <part name="password" type="xsd:string"/>
    <part name="api_key" type="xsd:string"/>
    <part name="login_to_remove" type="xsd:string"/>
  </message>
  <message name="RemoveContactResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <message name="PremiumHasAccess">
    <part name="api_key" type="xsd:string"/>
    <part name="openid_url" type="xsd:string"/>
    <part name="type_id" type="xsd:int"/>
  </message>
  <message name="PremiumHasAccessResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <message name="GetThreads">
    <part name="login" type="xsd:string"/>
    <part name="password" type="xsd:string"/>
    <part name="api_key" type="xsd:string"/>
    <part name="date_min" type="xsd:dateTime"/>
    <part name="date_max" type="xsd:dateTime"/>
    <part name="with_messages" type="xsd:boolean"/>
  </message>
  <message name="GetThreadsResponse">
    <part name="return" type="typens:McThreads"/>
  </message>
  <message name="UserSpecialties">
    <part name="api_key" type="xsd:string"/>
    <part name="login" type="xsd:string"/>
  </message>
  <message name="UserSpecialtiesResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="ScoreGet">
    <part name="api_key" type="xsd:string"/>
    <part name="openid_url" type="xsd:string"/>
  </message>
  <message name="ScoreGetResponse">
    <part name="return" type="xsd:int"/>
  </message>
  <message name="ActivatePremiumCode">
    <part name="api_key" type="xsd:string"/>
    <part name="openid_url" type="xsd:string"/>
    <part name="premium_code" type="xsd:string"/>
  </message>
  <message name="ActivatePremiumCodeResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <message name="GetUserCompanies">
    <part name="api_key" type="xsd:string"/>
    <part name="openid_url" type="xsd:string"/>
  </message>
  <message name="GetUserCompaniesResponse">
    <part name="return" type="typens:UserCompanySoapArray"/>
  </message>
  <message name="UserGetGroup">
    <part name="api_key" type="xsd:string"/>
    <part name="openid_url" type="xsd:string"/>
  </message>
  <message name="UserGetGroupResponse">
    <part name="return" type="xsd:int"/>
  </message>
  <message name="GetFriendIds">
    <part name="api_key" type="xsd:string"/>
    <part name="login" type="xsd:string"/>
  </message>
  <message name="GetFriendIdsResponse">
    <part name="return" type="typens:IntegerArray"/>
  </message>
  <message name="DenyUser">
    <part name="api_key" type="xsd:string"/>
    <part name="group_id" type="xsd:int"/>
    <part name="user_id" type="xsd:int"/>
    <part name="admin_id" type="xsd:int"/>
  </message>
  <message name="DenyUserResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <message name="MessageCountUnread">
    <part name="api_key" type="xsd:string"/>
    <part name="openid_url" type="xsd:string"/>
    <part name="type_id" type="xsd:int"/>
  </message>
  <message name="MessageCountUnreadResponse">
    <part name="return" type="xsd:int"/>
  </message>
  <message name="ConnectSetReceived">
    <part name="api_key" type="xsd:string"/>
    <part name="message_id" type="xsd:int"/>
  </message>
  <message name="ConnectSetReceivedResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <message name="IsModerated">
    <part name="api_key" type="xsd:string"/>
    <part name="group_id" type="xsd:int"/>
  </message>
  <message name="IsModeratedResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <message name="MessageDelete">
    <part name="api_key" type="xsd:string"/>
    <part name="message_id" type="xsd:int"/>
  </message>
  <message name="MessageDeleteResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <message name="RfidActivity">
    <part name="api_key" type="xsd:string"/>
    <part name="rfid" type="xsd:string"/>
    <part name="rfid_scanner" type="xsd:string"/>
    <part name="date" type="xsd:int"/>
  </message>
  <message name="RfidActivityResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="Authorize">
    <part name="api_key" type="xsd:string"/>
    <part name="login" type="xsd:string"/>
    <part name="password" type="xsd:string"/>
  </message>
  <message name="AuthorizeResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <message name="GetMessagesByPollId">
    <part name="api_key" type="xsd:string"/>
    <part name="poll_id" type="xsd:int"/>
  </message>
  <message name="GetMessagesByPollIdResponse">
    <part name="return" type="typens:McMessageArray"/>
  </message>
  <message name="GetLastPremiumCodeTypeId">
    <part name="api_key" type="xsd:string"/>
    <part name="openid_url" type="xsd:string"/>
    <part name="premium_service_id" type="xsd:int"/>
  </message>
  <message name="GetLastPremiumCodeTypeIdResponse">
    <part name="return" type="xsd:int"/>
  </message>
  <message name="OpenidFromScienceImei">
    <part name="api_key" type="xsd:string"/>
    <part name="imei" type="xsd:string"/>
  </message>
  <message name="OpenidFromScienceImeiResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="UserExists">
    <part name="api_key" type="xsd:string"/>
    <part name="login" type="xsd:string"/>
  </message>
  <message name="UserExistsResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <message name="UserIsDoctor">
    <part name="api_key" type="xsd:string"/>
    <part name="openid_url" type="xsd:string"/>
  </message>
  <message name="UserIsDoctorResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <message name="GetUserLoginById">
    <part name="api_key" type="xsd:string"/>
    <part name="id" type="xsd:int"/>
  </message>
  <message name="GetUserLoginByIdResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="GetAllContacts">
    <part name="api_key" type="xsd:string"/>
    <part name="login" type="xsd:string"/>
  </message>
  <message name="GetAllContactsResponse">
    <part name="return" type="typens:McContactArray"/>
  </message>
  <message name="MessageCount">
    <part name="api_key" type="xsd:string"/>
    <part name="openid_url" type="xsd:string"/>
    <part name="type_id" type="xsd:int"/>
  </message>
  <message name="MessageCountResponse">
    <part name="return" type="xsd:int"/>
  </message>
  <message name="GetOption">
    <part name="login" type="xsd:string"/>
    <part name="password" type="xsd:string"/>
    <part name="api_key" type="xsd:string"/>
    <part name="key" type="xsd:string"/>
  </message>
  <message name="GetOptionResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="ConnectMessageSend">
    <part name="api_key" type="xsd:string"/>
    <part name="from" type="xsd:string"/>
    <part name="to" type="xsd:string"/>
    <part name="subject" type="xsd:string"/>
    <part name="body" type="xsd:string"/>
    <part name="poll_id" type="xsd:int"/>
  </message>
  <message name="ConnectMessageSendResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <message name="GetMedpassGroupUsers">
    <part name="api_key" type="xsd:string"/>
    <part name="group_id" type="xsd:int"/>
  </message>
  <message name="GetMedpassGroupUsersResponse">
    <part name="return" type="typens:UserArray"/>
  </message>
  <message name="MessageGet">
    <part name="api_key" type="xsd:string"/>
    <part name="message_id" type="xsd:int"/>
  </message>
  <message name="MessageGetResponse">
    <part name="return" type="typens:WebMessage"/>
  </message>
  <message name="GetAllLegacyData">
    <part name="api_key" type="xsd:string"/>
    <part name="openid_url" type="xsd:string"/>
  </message>
  <message name="GetAllLegacyDataResponse">
    <part name="return" type="typens:LegacyData"/>
  </message>
  <message name="WasLoggedInDays">
    <part name="api_key" type="xsd:string"/>
    <part name="openid" type="xsd:string"/>
    <part name="days" type="xsd:int"/>
  </message>
  <message name="WasLoggedInDaysResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <message name="GetPremiumServiceValidTo">
    <part name="api_key" type="xsd:string"/>
    <part name="openid_url" type="xsd:string"/>
    <part name="premium_service_id" type="xsd:int"/>
  </message>
  <message name="GetPremiumServiceValidToResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="OpenidFromImei">
    <part name="api_key" type="xsd:string"/>
    <part name="imei" type="xsd:string"/>
  </message>
  <message name="OpenidFromImeiResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="GetThreadMessages">
    <part name="login" type="xsd:string"/>
    <part name="password" type="xsd:string"/>
    <part name="api_key" type="xsd:string"/>
    <part name="message_thread_id" type="xsd:int"/>
    <part name="date_min" type="xsd:dateTime"/>
    <part name="date_max" type="xsd:dateTime"/>
  </message>
  <message name="GetThreadMessagesResponse">
    <part name="return" type="typens:McThread"/>
  </message>
  <message name="GetUid">
    <part name="api_key" type="xsd:string"/>
    <part name="openid_url" type="xsd:string"/>
  </message>
  <message name="GetUidResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="FetchUser">
    <part name="api_key" type="xsd:string"/>
    <part name="openid_url" type="xsd:string"/>
  </message>
  <message name="FetchUserResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="FieldSet">
    <part name="api_key" type="xsd:string"/>
    <part name="openid_url" type="xsd:string"/>
    <part name="field" type="xsd:string"/>
    <part name="value" type="xsd:string"/>
  </message>
  <message name="FieldSetResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="AddLink">
    <part name="api_key" type="xsd:string"/>
    <part name="group_id" type="xsd:int"/>
    <part name="user_id" type="xsd:int"/>
    <part name="link" type="xsd:string"/>
  </message>
  <message name="AddLinkResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <message name="MobileAuthorize">
    <part name="api_key" type="xsd:string"/>
    <part name="login" type="xsd:string"/>
    <part name="password" type="xsd:string"/>
  </message>
  <message name="MobileAuthorizeResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <message name="MessageReply">
    <part name="api_key" type="xsd:string"/>
    <part name="from" type="xsd:string"/>
    <part name="to" type="xsd:string"/>
    <part name="subject" type="xsd:string"/>
    <part name="body" type="xsd:string"/>
    <part name="app" type="xsd:string"/>
  </message>
  <message name="MessageReplyResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <message name="GetMedpassGroupById">
    <part name="api_key" type="xsd:string"/>
    <part name="id" type="xsd:int"/>
  </message>
  <message name="GetMedpassGroupByIdResponse">
    <part name="return" type="typens:MedpassGroup"/>
  </message>
  <message name="GetLegacyData">
    <part name="api_key" type="xsd:string"/>
    <part name="openid_url" type="xsd:string"/>
    <part name="field" type="xsd:string"/>
  </message>
  <message name="GetLegacyDataResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="GetAccessCode">
    <part name="api_key" type="xsd:string"/>
    <part name="c_typeid" type="xsd:int"/>
    <part name="amount" type="xsd:int"/>
  </message>
  <message name="GetAccessCodeResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="GetFreePremiumCodeAndActivate">
    <part name="api_key" type="xsd:string"/>
    <part name="openid_url" type="xsd:string"/>
    <part name="premium_code_type_id" type="xsd:int"/>
  </message>
  <message name="GetFreePremiumCodeAndActivateResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <message name="SetMessageStatusByImei">
    <part name="api_key" type="xsd:string"/>
    <part name="imei" type="xsd:string"/>
    <part name="flag" type="xsd:int"/>
  </message>
  <message name="SetMessageStatusByImeiResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <message name="GetThreadsByDateRange">
    <part name="login" type="xsd:string"/>
    <part name="password" type="xsd:string"/>
    <part name="api_key" type="xsd:string"/>
    <part name="count" type="xsd:int"/>
    <part name="offset" type="xsd:int"/>
    <part name="with_messages" type="xsd:boolean"/>
  </message>
  <message name="GetThreadsByDateRangeResponse">
    <part name="return" type="typens:McThreads"/>
  </message>
  <message name="ScoreRevoke">
    <part name="api_key" type="xsd:string"/>
    <part name="openid_url" type="xsd:string"/>
    <part name="amount" type="xsd:int"/>
    <part name="reason" type="xsd:string"/>
    <part name="link" type="xsd:string"/>
  </message>
  <message name="ScoreRevokeResponse">
    <part name="return" type="xsd:int"/>
  </message>
  <message name="CreateThread">
    <part name="login" type="xsd:string"/>
    <part name="password" type="xsd:string"/>
    <part name="api_key" type="xsd:string"/>
    <part name="subject" type="xsd:string"/>
    <part name="recipients" type="xsd:string"/>
  </message>
  <message name="CreateThreadResponse">
    <part name="return" type="xsd:int"/>
  </message>
  <message name="UnsubscribeUser">
    <part name="api_key" type="xsd:string"/>
    <part name="email" type="xsd:string"/>
    <part name="interspire_bulletin_id" type="xsd:string"/>
  </message>
  <message name="UnsubscribeUserResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="SentMessageList">
    <part name="api_key" type="xsd:string"/>
    <part name="openid_url" type="xsd:string"/>
    <part name="start" type="xsd:int"/>
    <part name="count" type="xsd:int"/>
  </message>
  <message name="SentMessageListResponse">
    <part name="return" type="typens:WebMessageArray"/>
  </message>
  <message name="GetAllLegacyDataByLegacyId">
    <part name="api_key" type="xsd:string"/>
    <part name="legacy_id" type="xsd:int"/>
  </message>
  <message name="GetAllLegacyDataByLegacyIdResponse">
    <part name="return" type="typens:LegacyData"/>
  </message>
  <message name="ContactsAdd">
    <part name="api_key" type="xsd:string"/>
    <part name="openid_url" type="xsd:string"/>
    <part name="target_openid_url" type="xsd:string"/>
  </message>
  <message name="ContactsAddResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <message name="MobileGetThreads">
    <part name="login" type="xsd:string"/>
    <part name="password" type="xsd:string"/>
    <part name="imei" type="xsd:string"/>
    <part name="api_key" type="xsd:string"/>
    <part name="date_min" type="xsd:dateTime"/>
    <part name="date_max" type="xsd:dateTime"/>
    <part name="with_messages" type="xsd:boolean"/>
  </message>
  <message name="MobileGetThreadsResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="SendThreadMessage">
    <part name="login" type="xsd:string"/>
    <part name="password" type="xsd:string"/>
    <part name="api_key" type="xsd:string"/>
    <part name="thread_id" type="xsd:string"/>
    <part name="content" type="xsd:string"/>
  </message>
  <message name="SendThreadMessageResponse">
    <part name="return" type="xsd:int"/>
  </message>
  <message name="SearchUser">
    <part name="api_key" type="xsd:string"/>
    <part name="phrase" type="xsd:string"/>
    <part name="page" type="xsd:string"/>
    <part name="per_page" type="xsd:string"/>
  </message>
  <message name="SearchUserResponse">
    <part name="return" type="typens:MedpassUserArray"/>
  </message>
  <portType name="ApiApiPort">
    <operation name="GetContacts">
      <input message="typens:GetContacts"/>
      <output message="typens:GetContactsResponse"/>
    </operation>
    <operation name="AcceptUser">
      <input message="typens:AcceptUser"/>
      <output message="typens:AcceptUserResponse"/>
    </operation>
    <operation name="MessageSend">
      <input message="typens:MessageSend"/>
      <output message="typens:MessageSendResponse"/>
    </operation>
    <operation name="CreateMedpassGroup">
      <input message="typens:CreateMedpassGroup"/>
      <output message="typens:CreateMedpassGroupResponse"/>
    </operation>
    <operation name="FieldGet">
      <input message="typens:FieldGet"/>
      <output message="typens:FieldGetResponse"/>
    </operation>
    <operation name="PremiumActivate">
      <input message="typens:PremiumActivate"/>
      <output message="typens:PremiumActivateResponse"/>
    </operation>
    <operation name="GetMedpassGroupsByLink">
      <input message="typens:GetMedpassGroupsByLink"/>
      <output message="typens:GetMedpassGroupsByLinkResponse"/>
    </operation>
    <operation name="MessageListByScienceImei">
      <input message="typens:MessageListByScienceImei"/>
      <output message="typens:MessageListByScienceImeiResponse"/>
    </operation>
    <operation name="GetDesiredName">
      <input message="typens:GetDesiredName"/>
      <output message="typens:GetDesiredNameResponse"/>
    </operation>
    <operation name="ScoreGrant">
      <input message="typens:ScoreGrant"/>
      <output message="typens:ScoreGrantResponse"/>
    </operation>
    <operation name="IsUserPremium">
      <input message="typens:IsUserPremium"/>
      <output message="typens:IsUserPremiumResponse"/>
    </operation>
    <operation name="MessageList">
      <input message="typens:MessageList"/>
      <output message="typens:MessageListResponse"/>
    </operation>
    <operation name="GetUnreadThreads">
      <input message="typens:GetUnreadThreads"/>
      <output message="typens:GetUnreadThreadsResponse"/>
    </operation>
    <operation name="ContactsList">
      <input message="typens:ContactsList"/>
      <output message="typens:ContactsListResponse"/>
    </operation>
    <operation name="SetOption">
      <input message="typens:SetOption"/>
      <output message="typens:SetOptionResponse"/>
    </operation>
    <operation name="AddContact">
      <input message="typens:AddContact"/>
      <output message="typens:AddContactResponse"/>
    </operation>
    <operation name="GetAllLegacyDataByUid">
      <input message="typens:GetAllLegacyDataByUid"/>
      <output message="typens:GetAllLegacyDataByUidResponse"/>
    </operation>
    <operation name="ExportProfile">
      <input message="typens:ExportProfile"/>
      <output message="typens:ExportProfileResponse"/>
    </operation>
    <operation name="ApplyToMedpassGroup">
      <input message="typens:ApplyToMedpassGroup"/>
      <output message="typens:ApplyToMedpassGroupResponse"/>
    </operation>
    <operation name="MessageSentDelete">
      <input message="typens:MessageSentDelete"/>
      <output message="typens:MessageSentDeleteResponse"/>
    </operation>
    <operation name="ExportProfileFromPwz">
      <input message="typens:ExportProfileFromPwz"/>
      <output message="typens:ExportProfileFromPwzResponse"/>
    </operation>
    <operation name="MedpassConnectAuthorization">
      <input message="typens:MedpassConnectAuthorization"/>
      <output message="typens:MedpassConnectAuthorizationResponse"/>
    </operation>
    <operation name="MessageListByImei">
      <input message="typens:MessageListByImei"/>
      <output message="typens:MessageListByImeiResponse"/>
    </operation>
    <operation name="GetUserEmailAccount">
      <input message="typens:GetUserEmailAccount"/>
      <output message="typens:GetUserEmailAccountResponse"/>
    </operation>
    <operation name="RemoveContact">
      <input message="typens:RemoveContact"/>
      <output message="typens:RemoveContactResponse"/>
    </operation>
    <operation name="PremiumHasAccess">
      <input message="typens:PremiumHasAccess"/>
      <output message="typens:PremiumHasAccessResponse"/>
    </operation>
    <operation name="GetThreads">
      <input message="typens:GetThreads"/>
      <output message="typens:GetThreadsResponse"/>
    </operation>
    <operation name="UserSpecialties">
      <input message="typens:UserSpecialties"/>
      <output message="typens:UserSpecialtiesResponse"/>
    </operation>
    <operation name="ScoreGet">
      <input message="typens:ScoreGet"/>
      <output message="typens:ScoreGetResponse"/>
    </operation>
    <operation name="ActivatePremiumCode">
      <input message="typens:ActivatePremiumCode"/>
      <output message="typens:ActivatePremiumCodeResponse"/>
    </operation>
    <operation name="GetUserCompanies">
      <input message="typens:GetUserCompanies"/>
      <output message="typens:GetUserCompaniesResponse"/>
    </operation>
    <operation name="UserGetGroup">
      <input message="typens:UserGetGroup"/>
      <output message="typens:UserGetGroupResponse"/>
    </operation>
    <operation name="GetFriendIds">
      <input message="typens:GetFriendIds"/>
      <output message="typens:GetFriendIdsResponse"/>
    </operation>
    <operation name="DenyUser">
      <input message="typens:DenyUser"/>
      <output message="typens:DenyUserResponse"/>
    </operation>
    <operation name="MessageCountUnread">
      <input message="typens:MessageCountUnread"/>
      <output message="typens:MessageCountUnreadResponse"/>
    </operation>
    <operation name="ConnectSetReceived">
      <input message="typens:ConnectSetReceived"/>
      <output message="typens:ConnectSetReceivedResponse"/>
    </operation>
    <operation name="IsModerated">
      <input message="typens:IsModerated"/>
      <output message="typens:IsModeratedResponse"/>
    </operation>
    <operation name="MessageDelete">
      <input message="typens:MessageDelete"/>
      <output message="typens:MessageDeleteResponse"/>
    </operation>
    <operation name="RfidActivity">
      <input message="typens:RfidActivity"/>
      <output message="typens:RfidActivityResponse"/>
    </operation>
    <operation name="Authorize">
      <input message="typens:Authorize"/>
      <output message="typens:AuthorizeResponse"/>
    </operation>
    <operation name="GetMessagesByPollId">
      <input message="typens:GetMessagesByPollId"/>
      <output message="typens:GetMessagesByPollIdResponse"/>
    </operation>
    <operation name="GetLastPremiumCodeTypeId">
      <input message="typens:GetLastPremiumCodeTypeId"/>
      <output message="typens:GetLastPremiumCodeTypeIdResponse"/>
    </operation>
    <operation name="OpenidFromScienceImei">
      <input message="typens:OpenidFromScienceImei"/>
      <output message="typens:OpenidFromScienceImeiResponse"/>
    </operation>
    <operation name="UserExists">
      <input message="typens:UserExists"/>
      <output message="typens:UserExistsResponse"/>
    </operation>
    <operation name="UserIsDoctor">
      <input message="typens:UserIsDoctor"/>
      <output message="typens:UserIsDoctorResponse"/>
    </operation>
    <operation name="GetUserLoginById">
      <input message="typens:GetUserLoginById"/>
      <output message="typens:GetUserLoginByIdResponse"/>
    </operation>
    <operation name="GetAllContacts">
      <input message="typens:GetAllContacts"/>
      <output message="typens:GetAllContactsResponse"/>
    </operation>
    <operation name="MessageCount">
      <input message="typens:MessageCount"/>
      <output message="typens:MessageCountResponse"/>
    </operation>
    <operation name="GetOption">
      <input message="typens:GetOption"/>
      <output message="typens:GetOptionResponse"/>
    </operation>
    <operation name="ConnectMessageSend">
      <input message="typens:ConnectMessageSend"/>
      <output message="typens:ConnectMessageSendResponse"/>
    </operation>
    <operation name="GetMedpassGroupUsers">
      <input message="typens:GetMedpassGroupUsers"/>
      <output message="typens:GetMedpassGroupUsersResponse"/>
    </operation>
    <operation name="MessageGet">
      <input message="typens:MessageGet"/>
      <output message="typens:MessageGetResponse"/>
    </operation>
    <operation name="GetAllLegacyData">
      <input message="typens:GetAllLegacyData"/>
      <output message="typens:GetAllLegacyDataResponse"/>
    </operation>
    <operation name="WasLoggedInDays">
      <input message="typens:WasLoggedInDays"/>
      <output message="typens:WasLoggedInDaysResponse"/>
    </operation>
    <operation name="GetPremiumServiceValidTo">
      <input message="typens:GetPremiumServiceValidTo"/>
      <output message="typens:GetPremiumServiceValidToResponse"/>
    </operation>
    <operation name="OpenidFromImei">
      <input message="typens:OpenidFromImei"/>
      <output message="typens:OpenidFromImeiResponse"/>
    </operation>
    <operation name="GetThreadMessages">
      <input message="typens:GetThreadMessages"/>
      <output message="typens:GetThreadMessagesResponse"/>
    </operation>
    <operation name="GetUid">
      <input message="typens:GetUid"/>
      <output message="typens:GetUidResponse"/>
    </operation>
    <operation name="FetchUser">
      <input message="typens:FetchUser"/>
      <output message="typens:FetchUserResponse"/>
    </operation>
    <operation name="FieldSet">
      <input message="typens:FieldSet"/>
      <output message="typens:FieldSetResponse"/>
    </operation>
    <operation name="AddLink">
      <input message="typens:AddLink"/>
      <output message="typens:AddLinkResponse"/>
    </operation>
    <operation name="MobileAuthorize">
      <input message="typens:MobileAuthorize"/>
      <output message="typens:MobileAuthorizeResponse"/>
    </operation>
    <operation name="MessageReply">
      <input message="typens:MessageReply"/>
      <output message="typens:MessageReplyResponse"/>
    </operation>
    <operation name="GetMedpassGroupById">
      <input message="typens:GetMedpassGroupById"/>
      <output message="typens:GetMedpassGroupByIdResponse"/>
    </operation>
    <operation name="GetLegacyData">
      <input message="typens:GetLegacyData"/>
      <output message="typens:GetLegacyDataResponse"/>
    </operation>
    <operation name="GetAccessCode">
      <input message="typens:GetAccessCode"/>
      <output message="typens:GetAccessCodeResponse"/>
    </operation>
    <operation name="GetFreePremiumCodeAndActivate">
      <input message="typens:GetFreePremiumCodeAndActivate"/>
      <output message="typens:GetFreePremiumCodeAndActivateResponse"/>
    </operation>
    <operation name="SetMessageStatusByImei">
      <input message="typens:SetMessageStatusByImei"/>
      <output message="typens:SetMessageStatusByImeiResponse"/>
    </operation>
    <operation name="GetThreadsByDateRange">
      <input message="typens:GetThreadsByDateRange"/>
      <output message="typens:GetThreadsByDateRangeResponse"/>
    </operation>
    <operation name="ScoreRevoke">
      <input message="typens:ScoreRevoke"/>
      <output message="typens:ScoreRevokeResponse"/>
    </operation>
    <operation name="CreateThread">
      <input message="typens:CreateThread"/>
      <output message="typens:CreateThreadResponse"/>
    </operation>
    <operation name="UnsubscribeUser">
      <input message="typens:UnsubscribeUser"/>
      <output message="typens:UnsubscribeUserResponse"/>
    </operation>
    <operation name="SentMessageList">
      <input message="typens:SentMessageList"/>
      <output message="typens:SentMessageListResponse"/>
    </operation>
    <operation name="GetAllLegacyDataByLegacyId">
      <input message="typens:GetAllLegacyDataByLegacyId"/>
      <output message="typens:GetAllLegacyDataByLegacyIdResponse"/>
    </operation>
    <operation name="ContactsAdd">
      <input message="typens:ContactsAdd"/>
      <output message="typens:ContactsAddResponse"/>
    </operation>
    <operation name="MobileGetThreads">
      <input message="typens:MobileGetThreads"/>
      <output message="typens:MobileGetThreadsResponse"/>
    </operation>
    <operation name="SendThreadMessage">
      <input message="typens:SendThreadMessage"/>
      <output message="typens:SendThreadMessageResponse"/>
    </operation>
    <operation name="SearchUser">
      <input message="typens:SearchUser"/>
      <output message="typens:SearchUserResponse"/>
    </operation>
  </portType>
  <binding name="ApiApiBinding" type="typens:ApiApiPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="GetContacts">
      <soap:operation soapAction="/api/api/GetContacts"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="AcceptUser">
      <soap:operation soapAction="/api/api/AcceptUser"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="MessageSend">
      <soap:operation soapAction="/api/api/MessageSend"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="CreateMedpassGroup">
      <soap:operation soapAction="/api/api/CreateMedpassGroup"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="FieldGet">
      <soap:operation soapAction="/api/api/FieldGet"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="PremiumActivate">
      <soap:operation soapAction="/api/api/PremiumActivate"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="GetMedpassGroupsByLink">
      <soap:operation soapAction="/api/api/GetMedpassGroupsByLink"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="MessageListByScienceImei">
      <soap:operation soapAction="/api/api/MessageListByScienceImei"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="GetDesiredName">
      <soap:operation soapAction="/api/api/GetDesiredName"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="ScoreGrant">
      <soap:operation soapAction="/api/api/ScoreGrant"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="IsUserPremium">
      <soap:operation soapAction="/api/api/IsUserPremium"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="MessageList">
      <soap:operation soapAction="/api/api/MessageList"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="GetUnreadThreads">
      <soap:operation soapAction="/api/api/GetUnreadThreads"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="ContactsList">
      <soap:operation soapAction="/api/api/ContactsList"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="SetOption">
      <soap:operation soapAction="/api/api/SetOption"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="AddContact">
      <soap:operation soapAction="/api/api/AddContact"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="GetAllLegacyDataByUid">
      <soap:operation soapAction="/api/api/GetAllLegacyDataByUid"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="ExportProfile">
      <soap:operation soapAction="/api/api/ExportProfile"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="ApplyToMedpassGroup">
      <soap:operation soapAction="/api/api/ApplyToMedpassGroup"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="MessageSentDelete">
      <soap:operation soapAction="/api/api/MessageSentDelete"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="ExportProfileFromPwz">
      <soap:operation soapAction="/api/api/ExportProfileFromPwz"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="MedpassConnectAuthorization">
      <soap:operation soapAction="/api/api/MedpassConnectAuthorization"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="MessageListByImei">
      <soap:operation soapAction="/api/api/MessageListByImei"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="GetUserEmailAccount">
      <soap:operation soapAction="/api/api/GetUserEmailAccount"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="RemoveContact">
      <soap:operation soapAction="/api/api/RemoveContact"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="PremiumHasAccess">
      <soap:operation soapAction="/api/api/PremiumHasAccess"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="GetThreads">
      <soap:operation soapAction="/api/api/GetThreads"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="UserSpecialties">
      <soap:operation soapAction="/api/api/UserSpecialties"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="ScoreGet">
      <soap:operation soapAction="/api/api/ScoreGet"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="ActivatePremiumCode">
      <soap:operation soapAction="/api/api/ActivatePremiumCode"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="GetUserCompanies">
      <soap:operation soapAction="/api/api/GetUserCompanies"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="UserGetGroup">
      <soap:operation soapAction="/api/api/UserGetGroup"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="GetFriendIds">
      <soap:operation soapAction="/api/api/GetFriendIds"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="DenyUser">
      <soap:operation soapAction="/api/api/DenyUser"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="MessageCountUnread">
      <soap:operation soapAction="/api/api/MessageCountUnread"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="ConnectSetReceived">
      <soap:operation soapAction="/api/api/ConnectSetReceived"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="IsModerated">
      <soap:operation soapAction="/api/api/IsModerated"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="MessageDelete">
      <soap:operation soapAction="/api/api/MessageDelete"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="RfidActivity">
      <soap:operation soapAction="/api/api/RfidActivity"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="Authorize">
      <soap:operation soapAction="/api/api/Authorize"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="GetMessagesByPollId">
      <soap:operation soapAction="/api/api/GetMessagesByPollId"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="GetLastPremiumCodeTypeId">
      <soap:operation soapAction="/api/api/GetLastPremiumCodeTypeId"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="OpenidFromScienceImei">
      <soap:operation soapAction="/api/api/OpenidFromScienceImei"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="UserExists">
      <soap:operation soapAction="/api/api/UserExists"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="UserIsDoctor">
      <soap:operation soapAction="/api/api/UserIsDoctor"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="GetUserLoginById">
      <soap:operation soapAction="/api/api/GetUserLoginById"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="GetAllContacts">
      <soap:operation soapAction="/api/api/GetAllContacts"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="MessageCount">
      <soap:operation soapAction="/api/api/MessageCount"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="GetOption">
      <soap:operation soapAction="/api/api/GetOption"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="ConnectMessageSend">
      <soap:operation soapAction="/api/api/ConnectMessageSend"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="GetMedpassGroupUsers">
      <soap:operation soapAction="/api/api/GetMedpassGroupUsers"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="MessageGet">
      <soap:operation soapAction="/api/api/MessageGet"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="GetAllLegacyData">
      <soap:operation soapAction="/api/api/GetAllLegacyData"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="WasLoggedInDays">
      <soap:operation soapAction="/api/api/WasLoggedInDays"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="GetPremiumServiceValidTo">
      <soap:operation soapAction="/api/api/GetPremiumServiceValidTo"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="OpenidFromImei">
      <soap:operation soapAction="/api/api/OpenidFromImei"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="GetThreadMessages">
      <soap:operation soapAction="/api/api/GetThreadMessages"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="GetUid">
      <soap:operation soapAction="/api/api/GetUid"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="FetchUser">
      <soap:operation soapAction="/api/api/FetchUser"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="FieldSet">
      <soap:operation soapAction="/api/api/FieldSet"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="AddLink">
      <soap:operation soapAction="/api/api/AddLink"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="MobileAuthorize">
      <soap:operation soapAction="/api/api/MobileAuthorize"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="MessageReply">
      <soap:operation soapAction="/api/api/MessageReply"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="GetMedpassGroupById">
      <soap:operation soapAction="/api/api/GetMedpassGroupById"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="GetLegacyData">
      <soap:operation soapAction="/api/api/GetLegacyData"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="GetAccessCode">
      <soap:operation soapAction="/api/api/GetAccessCode"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="GetFreePremiumCodeAndActivate">
      <soap:operation soapAction="/api/api/GetFreePremiumCodeAndActivate"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="SetMessageStatusByImei">
      <soap:operation soapAction="/api/api/SetMessageStatusByImei"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="GetThreadsByDateRange">
      <soap:operation soapAction="/api/api/GetThreadsByDateRange"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="ScoreRevoke">
      <soap:operation soapAction="/api/api/ScoreRevoke"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="CreateThread">
      <soap:operation soapAction="/api/api/CreateThread"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="UnsubscribeUser">
      <soap:operation soapAction="/api/api/UnsubscribeUser"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="SentMessageList">
      <soap:operation soapAction="/api/api/SentMessageList"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="GetAllLegacyDataByLegacyId">
      <soap:operation soapAction="/api/api/GetAllLegacyDataByLegacyId"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="ContactsAdd">
      <soap:operation soapAction="/api/api/ContactsAdd"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="MobileGetThreads">
      <soap:operation soapAction="/api/api/MobileGetThreads"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="SendThreadMessage">
      <soap:operation soapAction="/api/api/SendThreadMessage"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="SearchUser">
      <soap:operation soapAction="/api/api/SearchUser"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
  </binding>
  <service name="ApiService">
    <port name="ApiApiPort" binding="typens:ApiApiBinding">
      <soap:address location="http://medpass.pl/api/api"/>
    </port>
  </service>
</definitions>