spec/fixtures/wsdl/xml/reprintsdesk.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://reprintsdesk.com/webservices/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://reprintsdesk.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://reprintsdesk.com/webservices/">
      <s:element name="Order_PlaceOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlNode">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Order_PlaceOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Order_PlaceOrderResult" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="orderID" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserCredentials" type="tns:UserCredentials"/>
      <s:complexType name="UserCredentials">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
        </s:sequence>
        <s:anyAttribute/>
      </s:complexType>
      <s:element name="Order_PlaceOrder2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlNode">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Order_PlaceOrder2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Order_PlaceOrder2Result" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="orderID" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="rndID" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Test_Cookie">
        <s:complexType/>
      </s:element>
      <s:element name="Test_CookieResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Test_CookieResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Test_SessionID">
        <s:complexType/>
      </s:element>
      <s:element name="Test_SessionIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Test_SessionIDResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Test_Credentials">
        <s:complexType/>
      </s:element>
      <s:element name="Test_CredentialsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Test_CredentialsResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Test_PlaceOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlNode">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Test_PlaceOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Test_PlaceOrderResult" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="orderID" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Test_PlaceOrder2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Test_PlaceOrder2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Test_PlaceOrder2Result" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="orderID" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Test_PlaceOrder3">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlNode">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Test_PlaceOrder3Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Test_PlaceOrder3Result" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="orderID" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Test_RaiseError">
        <s:complexType/>
      </s:element>
      <s:element name="Test_RaiseErrorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Test_RaiseErrorResult" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Test_RaiseSoapException">
        <s:complexType/>
      </s:element>
      <s:element name="Test_RaiseSoapExceptionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Test_RaiseSoapExceptionResult" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Order_PlaceOrderSoapIn">
    <wsdl:part name="parameters" element="tns:Order_PlaceOrder"/>
  </wsdl:message>
  <wsdl:message name="Order_PlaceOrderSoapOut">
    <wsdl:part name="parameters" element="tns:Order_PlaceOrderResponse"/>
  </wsdl:message>
  <wsdl:message name="Order_PlaceOrderUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials"/>
  </wsdl:message>
  <wsdl:message name="Order_PlaceOrder2SoapIn">
    <wsdl:part name="parameters" element="tns:Order_PlaceOrder2"/>
  </wsdl:message>
  <wsdl:message name="Order_PlaceOrder2SoapOut">
    <wsdl:part name="parameters" element="tns:Order_PlaceOrder2Response"/>
  </wsdl:message>
  <wsdl:message name="Order_PlaceOrder2UserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials"/>
  </wsdl:message>
  <wsdl:message name="Test_CookieSoapIn">
    <wsdl:part name="parameters" element="tns:Test_Cookie"/>
  </wsdl:message>
  <wsdl:message name="Test_CookieSoapOut">
    <wsdl:part name="parameters" element="tns:Test_CookieResponse"/>
  </wsdl:message>
  <wsdl:message name="Test_SessionIDSoapIn">
    <wsdl:part name="parameters" element="tns:Test_SessionID"/>
  </wsdl:message>
  <wsdl:message name="Test_SessionIDSoapOut">
    <wsdl:part name="parameters" element="tns:Test_SessionIDResponse"/>
  </wsdl:message>
  <wsdl:message name="Test_SessionIDUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials"/>
  </wsdl:message>
  <wsdl:message name="Test_CredentialsSoapIn">
    <wsdl:part name="parameters" element="tns:Test_Credentials"/>
  </wsdl:message>
  <wsdl:message name="Test_CredentialsSoapOut">
    <wsdl:part name="parameters" element="tns:Test_CredentialsResponse"/>
  </wsdl:message>
  <wsdl:message name="Test_CredentialsUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials"/>
  </wsdl:message>
  <wsdl:message name="Test_PlaceOrderSoapIn">
    <wsdl:part name="parameters" element="tns:Test_PlaceOrder"/>
  </wsdl:message>
  <wsdl:message name="Test_PlaceOrderSoapOut">
    <wsdl:part name="parameters" element="tns:Test_PlaceOrderResponse"/>
  </wsdl:message>
  <wsdl:message name="Test_PlaceOrderUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials"/>
  </wsdl:message>
  <wsdl:message name="Test_PlaceOrder2SoapIn">
    <wsdl:part name="parameters" element="tns:Test_PlaceOrder2"/>
  </wsdl:message>
  <wsdl:message name="Test_PlaceOrder2SoapOut">
    <wsdl:part name="parameters" element="tns:Test_PlaceOrder2Response"/>
  </wsdl:message>
  <wsdl:message name="Test_PlaceOrder2UserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials"/>
  </wsdl:message>
  <wsdl:message name="Test_PlaceOrder3SoapIn">
    <wsdl:part name="parameters" element="tns:Test_PlaceOrder3"/>
  </wsdl:message>
  <wsdl:message name="Test_PlaceOrder3SoapOut">
    <wsdl:part name="parameters" element="tns:Test_PlaceOrder3Response"/>
  </wsdl:message>
  <wsdl:message name="Test_PlaceOrder3UserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials"/>
  </wsdl:message>
  <wsdl:message name="Test_RaiseErrorSoapIn">
    <wsdl:part name="parameters" element="tns:Test_RaiseError"/>
  </wsdl:message>
  <wsdl:message name="Test_RaiseErrorSoapOut">
    <wsdl:part name="parameters" element="tns:Test_RaiseErrorResponse"/>
  </wsdl:message>
  <wsdl:message name="Test_RaiseErrorUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials"/>
  </wsdl:message>
  <wsdl:message name="Test_RaiseSoapExceptionSoapIn">
    <wsdl:part name="parameters" element="tns:Test_RaiseSoapException"/>
  </wsdl:message>
  <wsdl:message name="Test_RaiseSoapExceptionSoapOut">
    <wsdl:part name="parameters" element="tns:Test_RaiseSoapExceptionResponse"/>
  </wsdl:message>
  <wsdl:message name="Test_RaiseSoapExceptionUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials"/>
  </wsdl:message>
  <wsdl:portType name="MainSoap">
    <wsdl:operation name="Order_PlaceOrder">
      <wsdl:input message="tns:Order_PlaceOrderSoapIn"/>
      <wsdl:output message="tns:Order_PlaceOrderSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="Order_PlaceOrder2">
      <wsdl:input message="tns:Order_PlaceOrder2SoapIn"/>
      <wsdl:output message="tns:Order_PlaceOrder2SoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="Test_Cookie">
      <wsdl:input message="tns:Test_CookieSoapIn"/>
      <wsdl:output message="tns:Test_CookieSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="Test_SessionID">
      <wsdl:input message="tns:Test_SessionIDSoapIn"/>
      <wsdl:output message="tns:Test_SessionIDSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="Test_Credentials">
      <wsdl:input message="tns:Test_CredentialsSoapIn"/>
      <wsdl:output message="tns:Test_CredentialsSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="Test_PlaceOrder">
      <wsdl:input message="tns:Test_PlaceOrderSoapIn"/>
      <wsdl:output message="tns:Test_PlaceOrderSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="Test_PlaceOrder2">
      <wsdl:input message="tns:Test_PlaceOrder2SoapIn"/>
      <wsdl:output message="tns:Test_PlaceOrder2SoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="Test_PlaceOrder3">
      <wsdl:input message="tns:Test_PlaceOrder3SoapIn"/>
      <wsdl:output message="tns:Test_PlaceOrder3SoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="Test_RaiseError">
      <wsdl:input message="tns:Test_RaiseErrorSoapIn"/>
      <wsdl:output message="tns:Test_RaiseErrorSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="Test_RaiseSoapException">
      <wsdl:input message="tns:Test_RaiseSoapExceptionSoapIn"/>
      <wsdl:output message="tns:Test_RaiseSoapExceptionSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MainSoap" type="tns:MainSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Order_PlaceOrder">
      <soap:operation soapAction="http://reprintsdesk.com/webservices/Order_PlaceOrder" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:Order_PlaceOrderUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Order_PlaceOrder2">
      <soap:operation soapAction="http://reprintsdesk.com/webservices/Order_PlaceOrder2" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:Order_PlaceOrder2UserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test_Cookie">
      <soap:operation soapAction="http://reprintsdesk.com/webservices/Test_Cookie" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test_SessionID">
      <soap:operation soapAction="http://reprintsdesk.com/webservices/Test_SessionID" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:Test_SessionIDUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test_Credentials">
      <soap:operation soapAction="http://reprintsdesk.com/webservices/Test_Credentials" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:Test_CredentialsUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test_PlaceOrder">
      <soap:operation soapAction="http://reprintsdesk.com/webservices/Test_PlaceOrder" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:Test_PlaceOrderUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test_PlaceOrder2">
      <soap:operation soapAction="http://reprintsdesk.com/webservices/Test_PlaceOrder2" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:Test_PlaceOrder2UserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test_PlaceOrder3">
      <soap:operation soapAction="http://reprintsdesk.com/webservices/Test_PlaceOrder3" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:Test_PlaceOrder3UserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test_RaiseError">
      <soap:operation soapAction="http://reprintsdesk.com/webservices/Test_RaiseError" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:Test_RaiseErrorUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test_RaiseSoapException">
      <soap:operation soapAction="http://reprintsdesk.com/webservices/Test_RaiseSoapException" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:Test_RaiseSoapExceptionUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MainSoap12" type="tns:MainSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Order_PlaceOrder">
      <soap12:operation soapAction="http://reprintsdesk.com/webservices/Order_PlaceOrder" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:Order_PlaceOrderUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Order_PlaceOrder2">
      <soap12:operation soapAction="http://reprintsdesk.com/webservices/Order_PlaceOrder2" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:Order_PlaceOrder2UserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test_Cookie">
      <soap12:operation soapAction="http://reprintsdesk.com/webservices/Test_Cookie" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test_SessionID">
      <soap12:operation soapAction="http://reprintsdesk.com/webservices/Test_SessionID" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:Test_SessionIDUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test_Credentials">
      <soap12:operation soapAction="http://reprintsdesk.com/webservices/Test_Credentials" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:Test_CredentialsUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test_PlaceOrder">
      <soap12:operation soapAction="http://reprintsdesk.com/webservices/Test_PlaceOrder" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:Test_PlaceOrderUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test_PlaceOrder2">
      <soap12:operation soapAction="http://reprintsdesk.com/webservices/Test_PlaceOrder2" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:Test_PlaceOrder2UserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test_PlaceOrder3">
      <soap12:operation soapAction="http://reprintsdesk.com/webservices/Test_PlaceOrder3" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:Test_PlaceOrder3UserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test_RaiseError">
      <soap12:operation soapAction="http://reprintsdesk.com/webservices/Test_RaiseError" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:Test_RaiseErrorUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test_RaiseSoapException">
      <soap12:operation soapAction="http://reprintsdesk.com/webservices/Test_RaiseSoapException" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:Test_RaiseSoapExceptionUserCredentials" part="UserCredentials" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Main">
    <wsdl:port name="MainSoap" binding="tns:MainSoap">
      <soap:address location="https://www.demo.reprintsdesk.com/webservice/main.asmx"/>
    </wsdl:port>
    <wsdl:port name="MainSoap12" binding="tns:MainSoap12">
      <soap12:address location="https://www.demo.reprintsdesk.com/webservice/main.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>