spec/fixtures/wsdl/data_exchange.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://my.yfu.org/cgi-bin/WebObjects/WebService.woa/ws/DataExchange" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://my.yfu.org/cgi-bin/WebObjects/WebService.woa/ws/DataExchange" xmlns:intf="http://my.yfu.org/cgi-bin/WebObjects/WebService.woa/ws/DataExchange" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
  <wsdl:message name="confirmReceiptRequest">
    <wsdl:part name="in0" type="soapenc:string"/>
    <wsdl:part name="in1" type="soapenc:string"/>
    <wsdl:part name="in2" type="soapenc:string"/>
    <wsdl:part name="in3" type="soapenc:string"/>
  </wsdl:message>
  <wsdl:message name="getParticularBatchRequest">
    <wsdl:part name="in0" type="soapenc:string"/>
    <wsdl:part name="in1" type="soapenc:string"/>
    <wsdl:part name="in2" type="soapenc:string"/>
  </wsdl:message>
  <wsdl:message name="getNextResponse">
    <wsdl:part name="getNextReturn" type="YFUDataExchange"/>
  </wsdl:message>
  <wsdl:message name="submitRequest">
    <wsdl:part name="in0" type="soapenc:string"/>
    <wsdl:part name="in1" type="soapenc:string"/>
    <wsdl:part name="in2" type="YFUDataExchange"/>
  </wsdl:message>
  <wsdl:message name="confirmReceiptResponse">
    <wsdl:part name="confirmReceiptReturn" type="soapenc:boolean"/>
  </wsdl:message>
  <wsdl:message name="submitResponse">
    <wsdl:part name="submitReturn" type="soapenc:boolean"/>
  </wsdl:message>
  <wsdl:message name="getParticularBatchResponse">
    <wsdl:part name="getParticularBatchReturn" type="YFUDataExchange"/>
  </wsdl:message>
  <wsdl:message name="getNextRequest">
    <wsdl:part name="in0" type="soapenc:string"/>
    <wsdl:part name="in1" type="soapenc:string"/>
  </wsdl:message>
  <wsdl:portType name="DataExchange">
    <wsdl:operation name="submit" parameterOrder="in0 in1 in2">
      <wsdl:input message="impl:submitRequest" name="submitRequest"/>
      <wsdl:output message="impl:submitResponse" name="submitResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getNext" parameterOrder="in0 in1">
      <wsdl:input message="impl:getNextRequest" name="getNextRequest"/>
      <wsdl:output message="impl:getNextResponse" name="getNextResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getParticularBatch" parameterOrder="in0 in1 in2">
      <wsdl:input message="impl:getParticularBatchRequest" name="getParticularBatchRequest"/>
      <wsdl:output message="impl:getParticularBatchResponse" name="getParticularBatchResponse"/>
    </wsdl:operation>
    <wsdl:operation name="confirmReceipt" parameterOrder="in0 in1 in2 in3">
      <wsdl:input message="impl:confirmReceiptRequest" name="confirmReceiptRequest"/>
      <wsdl:output message="impl:confirmReceiptResponse" name="confirmReceiptResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DataExchangeSoapBinding" type="impl:DataExchange">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="submit">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="submitRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dataexchange.yfu.org" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="submitResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://my.yfu.org/cgi-bin/WebObjects/WebService.woa/ws/DataExchange" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNext">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getNextRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dataexchange.yfu.org" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="getNextResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://my.yfu.org/cgi-bin/WebObjects/WebService.woa/ws/DataExchange" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getParticularBatch">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getParticularBatchRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dataexchange.yfu.org" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="getParticularBatchResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://my.yfu.org/cgi-bin/WebObjects/WebService.woa/ws/DataExchange" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="confirmReceipt">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="confirmReceiptRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dataexchange.yfu.org" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="confirmReceiptResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://my.yfu.org/cgi-bin/WebObjects/WebService.woa/ws/DataExchange" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataExchange">
    <wsdl:port binding="impl:DataExchangeSoapBinding" name="DataExchange">
      <wsdlsoap:address location="http://my.yfu.org/cgi-bin/WebObjects/WebService.woa/ws/DataExchange"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>