spec/fixtures/wsdl/email_verification.xml

<?xml version="1.0" encoding="utf-8"?>
<!-- http://ws.cdyne.com/emailverify/Emailvernotestemail.asmx?wsdl -->
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ws.cdyne.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://ws.cdyne.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">These functions deal with Email Address Verification.  &lt;b&gt;CDYNE advertises a 100% SLA.  Try to find that kind of SLA from other web service vendors!&lt;/b&gt;</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ws.cdyne.com/">
      <s:element name="VerifyMXRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyMXRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VerifyMXRecordResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AdvancedVerifyEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="timeout" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AdvancedVerifyEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AdvancedVerifyEmailResult" type="tns:ReturnIndicator" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ReturnIndicator">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResponseText" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResponseCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LastMailServer" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GoodEmail" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="VerifyEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerifyEmailResult" type="tns:ReturnIndicator" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnCodes">
        <s:complexType />
      </s:element>
      <s:element name="ReturnCodesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReturnCodesResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="int" type="s:int" />
      <s:element name="ReturnIndicator" nillable="true" type="tns:ReturnIndicator" />
      <s:element name="ArrayOfAnyType" nillable="true" type="tns:ArrayOfAnyType" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="VerifyMXRecordSoapIn">
    <wsdl:part name="parameters" element="tns:VerifyMXRecord" />
  </wsdl:message>
  <wsdl:message name="VerifyMXRecordSoapOut">
    <wsdl:part name="parameters" element="tns:VerifyMXRecordResponse" />
  </wsdl:message>
  <wsdl:message name="AdvancedVerifyEmailSoapIn">
    <wsdl:part name="parameters" element="tns:AdvancedVerifyEmail" />
  </wsdl:message>
  <wsdl:message name="AdvancedVerifyEmailSoapOut">
    <wsdl:part name="parameters" element="tns:AdvancedVerifyEmailResponse" />
  </wsdl:message>
  <wsdl:message name="VerifyEmailSoapIn">
    <wsdl:part name="parameters" element="tns:VerifyEmail" />
  </wsdl:message>
  <wsdl:message name="VerifyEmailSoapOut">
    <wsdl:part name="parameters" element="tns:VerifyEmailResponse" />
  </wsdl:message>
  <wsdl:message name="ReturnCodesSoapIn">
    <wsdl:part name="parameters" element="tns:ReturnCodes" />
  </wsdl:message>
  <wsdl:message name="ReturnCodesSoapOut">
    <wsdl:part name="parameters" element="tns:ReturnCodesResponse" />
  </wsdl:message>
  <wsdl:message name="VerifyMXRecordHttpGetIn">
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="LicenseKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="VerifyMXRecordHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="AdvancedVerifyEmailHttpGetIn">
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="timeout" type="s:string" />
    <wsdl:part name="LicenseKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AdvancedVerifyEmailHttpGetOut">
    <wsdl:part name="Body" element="tns:ReturnIndicator" />
  </wsdl:message>
  <wsdl:message name="VerifyEmailHttpGetIn">
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="LicenseKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="VerifyEmailHttpGetOut">
    <wsdl:part name="Body" element="tns:ReturnIndicator" />
  </wsdl:message>
  <wsdl:message name="ReturnCodesHttpGetIn" />
  <wsdl:message name="ReturnCodesHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfAnyType" />
  </wsdl:message>
  <wsdl:message name="VerifyMXRecordHttpPostIn">
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="LicenseKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="VerifyMXRecordHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="AdvancedVerifyEmailHttpPostIn">
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="timeout" type="s:string" />
    <wsdl:part name="LicenseKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AdvancedVerifyEmailHttpPostOut">
    <wsdl:part name="Body" element="tns:ReturnIndicator" />
  </wsdl:message>
  <wsdl:message name="VerifyEmailHttpPostIn">
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="LicenseKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="VerifyEmailHttpPostOut">
    <wsdl:part name="Body" element="tns:ReturnIndicator" />
  </wsdl:message>
  <wsdl:message name="ReturnCodesHttpPostIn" />
  <wsdl:message name="ReturnCodesHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfAnyType" />
  </wsdl:message>
  <wsdl:portType name="EmailVerNoTestEmailSoap">
    <wsdl:operation name="VerifyMXRecord">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This function will verify the domains DNS (MX) mail entries.  If the function returns 0 the persons email domain is invalid.  More than 0 will indicate there is mail servers to accept an email.  This function is great for quick email domain verification.  It is not as powerful as the other email routines.  Use a LicenseKey of 0 for testing.  A -9999 as a result means that you have tested to many emails.  Please try again later if you get this value.</wsdl:documentation>
      <wsdl:input message="tns:VerifyMXRecordSoapIn" />
      <wsdl:output message="tns:VerifyMXRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AdvancedVerifyEmail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This function will verify an email address and also includes the ability to timeout the verification process.  The Verification can be slowed down by the email server being verified against. &lt;b&gt;Timeout is in seconds&lt;/b&gt; Use a licensekey of 0 for testing &lt;br&gt; NOTE: A timeout error (7) does not mean an email will not go through.  You should treat this as a good email address.</wsdl:documentation>
      <wsdl:input message="tns:AdvancedVerifyEmailSoapIn" />
      <wsdl:output message="tns:AdvancedVerifyEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerifyEmail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This function allows you to verify an email address against the mail servers it belongs to.  This function differs from the advanced function only by it automatically setting a timeout of 5 seconds</wsdl:documentation>
      <wsdl:input message="tns:VerifyEmailSoapIn" />
      <wsdl:output message="tns:VerifyEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReturnCodes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This function will give you all the possible code returns</wsdl:documentation>
      <wsdl:input message="tns:ReturnCodesSoapIn" />
      <wsdl:output message="tns:ReturnCodesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="EmailVerNoTestEmailHttpGet">
    <wsdl:operation name="VerifyMXRecord">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This function will verify the domains DNS (MX) mail entries.  If the function returns 0 the persons email domain is invalid.  More than 0 will indicate there is mail servers to accept an email.  This function is great for quick email domain verification.  It is not as powerful as the other email routines.  Use a LicenseKey of 0 for testing.  A -9999 as a result means that you have tested to many emails.  Please try again later if you get this value.</wsdl:documentation>
      <wsdl:input message="tns:VerifyMXRecordHttpGetIn" />
      <wsdl:output message="tns:VerifyMXRecordHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AdvancedVerifyEmail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This function will verify an email address and also includes the ability to timeout the verification process.  The Verification can be slowed down by the email server being verified against. &lt;b&gt;Timeout is in seconds&lt;/b&gt; Use a licensekey of 0 for testing &lt;br&gt; NOTE: A timeout error (7) does not mean an email will not go through.  You should treat this as a good email address.</wsdl:documentation>
      <wsdl:input message="tns:AdvancedVerifyEmailHttpGetIn" />
      <wsdl:output message="tns:AdvancedVerifyEmailHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="VerifyEmail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This function allows you to verify an email address against the mail servers it belongs to.  This function differs from the advanced function only by it automatically setting a timeout of 5 seconds</wsdl:documentation>
      <wsdl:input message="tns:VerifyEmailHttpGetIn" />
      <wsdl:output message="tns:VerifyEmailHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReturnCodes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This function will give you all the possible code returns</wsdl:documentation>
      <wsdl:input message="tns:ReturnCodesHttpGetIn" />
      <wsdl:output message="tns:ReturnCodesHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="EmailVerNoTestEmailHttpPost">
    <wsdl:operation name="VerifyMXRecord">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This function will verify the domains DNS (MX) mail entries.  If the function returns 0 the persons email domain is invalid.  More than 0 will indicate there is mail servers to accept an email.  This function is great for quick email domain verification.  It is not as powerful as the other email routines.  Use a LicenseKey of 0 for testing.  A -9999 as a result means that you have tested to many emails.  Please try again later if you get this value.</wsdl:documentation>
      <wsdl:input message="tns:VerifyMXRecordHttpPostIn" />
      <wsdl:output message="tns:VerifyMXRecordHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AdvancedVerifyEmail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This function will verify an email address and also includes the ability to timeout the verification process.  The Verification can be slowed down by the email server being verified against. &lt;b&gt;Timeout is in seconds&lt;/b&gt; Use a licensekey of 0 for testing &lt;br&gt; NOTE: A timeout error (7) does not mean an email will not go through.  You should treat this as a good email address.</wsdl:documentation>
      <wsdl:input message="tns:AdvancedVerifyEmailHttpPostIn" />
      <wsdl:output message="tns:AdvancedVerifyEmailHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="VerifyEmail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This function allows you to verify an email address against the mail servers it belongs to.  This function differs from the advanced function only by it automatically setting a timeout of 5 seconds</wsdl:documentation>
      <wsdl:input message="tns:VerifyEmailHttpPostIn" />
      <wsdl:output message="tns:VerifyEmailHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReturnCodes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This function will give you all the possible code returns</wsdl:documentation>
      <wsdl:input message="tns:ReturnCodesHttpPostIn" />
      <wsdl:output message="tns:ReturnCodesHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmailVerNoTestEmailSoap" type="tns:EmailVerNoTestEmailSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerifyMXRecord">
      <soap:operation soapAction="http://ws.cdyne.com/VerifyMXRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdvancedVerifyEmail">
      <soap:operation soapAction="http://ws.cdyne.com/AdvancedVerifyEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyEmail">
      <soap:operation soapAction="http://ws.cdyne.com/VerifyEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnCodes">
      <soap:operation soapAction="http://ws.cdyne.com/ReturnCodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmailVerNoTestEmailSoap12" type="tns:EmailVerNoTestEmailSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerifyMXRecord">
      <soap12:operation soapAction="http://ws.cdyne.com/VerifyMXRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdvancedVerifyEmail">
      <soap12:operation soapAction="http://ws.cdyne.com/AdvancedVerifyEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyEmail">
      <soap12:operation soapAction="http://ws.cdyne.com/VerifyEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnCodes">
      <soap12:operation soapAction="http://ws.cdyne.com/ReturnCodes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmailVerNoTestEmailHttpGet" type="tns:EmailVerNoTestEmailHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="VerifyMXRecord">
      <http:operation location="/VerifyMXRecord" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdvancedVerifyEmail">
      <http:operation location="/AdvancedVerifyEmail" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyEmail">
      <http:operation location="/VerifyEmail" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnCodes">
      <http:operation location="/ReturnCodes" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmailVerNoTestEmailHttpPost" type="tns:EmailVerNoTestEmailHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="VerifyMXRecord">
      <http:operation location="/VerifyMXRecord" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdvancedVerifyEmail">
      <http:operation location="/AdvancedVerifyEmail" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyEmail">
      <http:operation location="/VerifyEmail" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnCodes">
      <http:operation location="/ReturnCodes" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmailVerNoTestEmail">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">These functions deal with Email Address Verification.  &lt;b&gt;CDYNE advertises a 100% SLA.  Try to find that kind of SLA from other web service vendors!&lt;/b&gt;</wsdl:documentation>
    <wsdl:port name="EmailVerNoTestEmailSoap" binding="tns:EmailVerNoTestEmailSoap">
      <soap:address location="http://ws.cdyne.com/emailverify/Emailvernotestemail.asmx" />
    </wsdl:port>
    <wsdl:port name="EmailVerNoTestEmailSoap12" binding="tns:EmailVerNoTestEmailSoap12">
      <soap12:address location="http://ws.cdyne.com/emailverify/Emailvernotestemail.asmx" />
    </wsdl:port>
    <wsdl:port name="EmailVerNoTestEmailHttpGet" binding="tns:EmailVerNoTestEmailHttpGet">
      <http:address location="http://ws.cdyne.com/emailverify/Emailvernotestemail.asmx" />
    </wsdl:port>
    <wsdl:port name="EmailVerNoTestEmailHttpPost" binding="tns:EmailVerNoTestEmailHttpPost">
      <http:address location="http://ws.cdyne.com/emailverify/Emailvernotestemail.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
