spec/fixtures/wsdl/geotrust.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<s0:definitions name="queryDefinitions" targetNamespace="http://api.geotrust.com/webtrust/query" xmlns="" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://api.geotrust.com/webtrust/query" xmlns:s2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s3="http://www.openuri.org/2006/12/wsdl/upgradedJWS">
  <s0:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://api.geotrust.com/webtrust/query" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://api.geotrust.com/webtrust/query" xmlns:s2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s3="http://www.openuri.org/2006/12/wsdl/upgradedJWS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="GetQuickApproverListInput">
        <xs:sequence>
          <xs:element minOccurs="0" name="QueryRequestHeader" type="quer:queryRequestHeader" xmlns:quer="http://api.geotrust.com/webtrust/query"/>
          <xs:element minOccurs="0" name="Domain" type="xs:string"/>
          <xs:element minOccurs="0" name="IncludeUserAgreement" type="quer:includeUserAgreement" xmlns:quer="http://api.geotrust.com/webtrust/query"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="queryRequestHeader">
        <xs:sequence>
          <xs:element minOccurs="0" name="PartnerCode" type="xs:string"/>
          <xs:element minOccurs="0" name="AuthToken" type="quer:authToken" xmlns:quer="http://api.geotrust.com/webtrust/query"/>
          <xs:element minOccurs="0" name="ReplayToken" type="xs:string"/>
          <xs:element minOccurs="0" name="UseReplayToken" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="authToken">
        <xs:sequence>
          <xs:element minOccurs="0" name="UserName" type="xs:string"/>
          <xs:element minOccurs="0" name="Password" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="includeUserAgreement">
        <xs:sequence>
          <xs:element minOccurs="0" name="UserAgreementProductCode" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetUserAgreementInput">
        <xs:sequence>
          <xs:element minOccurs="0" name="QueryRequestHeader" type="quer:queryRequestHeader" xmlns:quer="http://api.geotrust.com/webtrust/query"/>
          <xs:element minOccurs="0" name="UserAgreementProductCode" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetQuickApproverListOutput">
        <xs:sequence>
          <xs:element minOccurs="0" name="QueryResponseHeader" type="quer:queryResponseHeader" xmlns:quer="http://api.geotrust.com/webtrust/query"/>
          <xs:element minOccurs="0" name="ApproverList" type="quer:ArrayOfApprover" xmlns:quer="http://api.geotrust.com/webtrust/query"/>
          <xs:element minOccurs="0" name="UserAgreement" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="queryResponseHeader">
        <xs:sequence>
          <xs:element name="SuccessCode" type="xs:int"/>
          <xs:element minOccurs="0" name="Errors" type="quer:ArrayOfError" xmlns:quer="http://api.geotrust.com/webtrust/query"/>
          <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime"/>
          <xs:element name="ReturnCount" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Error">
        <xs:sequence>
          <xs:element name="ErrorCode" type="xs:int"/>
          <xs:element minOccurs="0" name="ErrorField" type="xs:string"/>
          <xs:element minOccurs="0" name="ErrorMessage" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfError">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Error" type="quer:Error" xmlns:quer="http://api.geotrust.com/webtrust/query"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="ArrayOfError" type="quer:ArrayOfError" xmlns:quer="http://api.geotrust.com/webtrust/query"/>
      <xs:complexType name="Approver">
        <xs:sequence>
          <xs:element minOccurs="0" name="ApproverType" type="xs:string"/>
          <xs:element minOccurs="0" name="ApproverEmail" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfApprover">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Approver" type="quer:Approver" xmlns:quer="http://api.geotrust.com/webtrust/query"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="ArrayOfApprover" type="quer:ArrayOfApprover" xmlns:quer="http://api.geotrust.com/webtrust/query"/>
      <xs:complexType name="ArrayOfString">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="String" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="ArrayOfString" type="quer:ArrayOfString" xmlns:quer="http://api.geotrust.com/webtrust/query"/>
      <xs:element name="GetQuickApproverList">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="Request" type="quer:GetQuickApproverListInput" xmlns:quer="http://api.geotrust.com/webtrust/query"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetQuickApproverListResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="GetQuickApproverListResult" type="quer:GetQuickApproverListOutput" xmlns:quer="http://api.geotrust.com/webtrust/query"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="hello">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="Input" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="helloResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="helloResult" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </s0:types>
  <s0:message name="hello">
    <s0:part element="s1:hello" name="parameters"/>
  </s0:message>
  <s0:message name="helloResponse">
    <s0:part element="s1:helloResponse" name="helloResultPart"/>
  </s0:message>
  <s0:portType name="querySoap">
    <s0:operation name="GetQuickApproverList" parameterOrder="parameters">
      <s0:input message="s1:GetQuickApproverList"/>
      <s0:output message="s1:GetQuickApproverListResponse"/>
    </s0:operation>
    <s0:operation name="hello" parameterOrder="parameters">
      <s0:input message="s1:hello"/>
      <s0:output message="s1:helloResponse"/>
    </s0:operation>
  </s0:portType>
  <s0:binding name="querySoapBinding" type="s1:querySoap">
    <s2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <s0:operation name="GetQuickApproverList">
      <s2:operation style="document"/>
      <s0:input>
        <s2:body parts="parameters" use="literal"/>
      </s0:input>
      <s0:output>
        <s2:body parts="GetQuickApproverListResultPart" use="literal"/>
      </s0:output>
    </s0:operation>
    <s0:operation name="hello">
      <s2:operation style="document"/>
      <s0:input>
        <s2:body parts="parameters" use="literal"/>
      </s0:input>
      <s0:output>
        <s2:body parts="helloResultPart" use="literal"/>
      </s0:output>
    </s0:operation>
  </s0:binding>
  <s0:service name="query">
    <s3:upgraded81/>
    <s0:port binding="s1:querySoapBinding" name="querySoap">
      <s2:address location="https://test-api.geotrust.com:443/webtrust/query.jws"/>
    </s0:port>
  </s0:service>
</s0:definitions>
