spec/fixtures/wsdl/iws.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="IWSIntegERPservice" targetNamespace="http://tempuri.org/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns1="urn:WSIntegERPIntf" xmlns:ns2="urn:">
  <types>
    <xs:schema targetNamespace="urn:WSIntegERPIntf" xmlns="urn:WSIntegERPIntf">
      <xs:complexType name="TLogin">
        <xs:sequence>
          <xs:element name="Usu_Codigo" type="xs:int"/>
          <xs:element name="Usu_Login" type="xs:string"/>
          <xs:element name="Usu_Senha" type="xs:string"/>
          <xs:element name="IP" type="xs:string"/>
          <xs:element name="Apl_Codigo" type="xs:int"/>
          <xs:element name="Mensagem" type="ns1:TMensagem"/>
          <xs:element name="Pes_Codigo_Principal" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TMensagem">
        <xs:sequence>
          <xs:element name="Men_Codigo" type="xs:int"/>
          <xs:element name="Men_Descricao" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TTrajeto">
        <xs:sequence>
          <xs:element name="Condutor" type="ns1:TLista_Condutor"/>
          <xs:element name="Entidade" type="ns1:TEntidade"/>
          <xs:element name="Reboque" type="ns1:TLista_Entidade"/>
          <xs:element name="Origem" type="ns1:TTrajeto_Ponto_Controle"/>
          <xs:element name="Coleta" type="ns1:TLista_Trajeto_Ponto_Controle"/>
          <xs:element name="Entrega" type="ns1:TLista_Trajeto_Ponto_Controle"/>
          <xs:element name="Destino" type="ns1:TTrajeto_Ponto_Controle"/>
          <xs:element name="TSt_Codigo" type="xs:int"/>
          <xs:element name="TAt_Vin_Externo" type="xs:string"/>
          <xs:element name="MGR_Codigo" type="xs:int"/>
          <xs:element name="Login" type="ns1:TLogin"/>
          <xs:element name="Embarcador" type="ns1:TPessoa"/>
          <xs:element name="Fre_Nome" type="xs:string"/>
          <xs:element name="Servico" type="ns1:TLista_Servico"/>
          <xs:element name="Carga" type="ns1:TCarga"/>
          <xs:element name="TAt_Vin_Externo2" type="xs:string"/>
          <xs:element name="Operacao" type="ns1:TLista_Operacao"/>
          <xs:element name="Usuario" type="ns1:TUsuario"/>
          <xs:element name="TAt_Tra_Time" type="xs:double"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TLista_Condutor">
        <xs:complexContent>
          <xs:restriction base="soapenc:Array">
            <xs:sequence/>
            <xs:attribute ref="soapenc:arrayType" n1:arrayType="ns1:TCondutor[]" xmlns:n1="http://schemas.xmlsoap.org/wsdl/"/>
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="TEntidade">
        <xs:sequence>
          <xs:element name="Ent_Identificador" type="xs:string"/>
          <xs:element name="Ent_Numero" type="xs:string"/>
          <xs:element name="TEn_Codigo" type="xs:int"/>
          <xs:element name="Mar_Descricao" type="xs:string"/>
          <xs:element name="Mod_Descricao" type="xs:string"/>
          <xs:element name="TiR_Descricao" type="xs:string"/>
          <xs:element name="EAt_Cor" type="xs:string"/>
          <xs:element name="EAt_Ano" type="xs:int"/>
          <xs:element name="EAt_Ano_Modelo" type="xs:int"/>
          <xs:element name="EAt_Qtd_Eixo" type="xs:int"/>
          <xs:element name="EAt_Renavan" type="xs:string"/>
          <xs:element name="EAt_Observacao" type="xs:string"/>
          <xs:element name="Pessoa" type="ns1:TPessoa"/>
          <xs:element name="Equipamento" type="ns1:TLista_Equipamento"/>
          <xs:element name="Grupo" type="ns1:TLista_Grupo"/>
          <xs:element name="Grupo_Operacao" type="ns1:TLista_Grupo"/>
          <xs:element name="Operacao" type="ns1:TOperacao"/>
          <xs:element name="Entidade_Pessoa" type="ns1:TEntidade_Pessoa"/>
          <xs:element name="Medida" type="ns1:TLista_Medida"/>
          <xs:element name="MGR_Codigo_Default" type="xs:int"/>
          <xs:element name="Status" type="ns1:TLista_Status"/>
          <xs:element name="ERe_Sequencia" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TPessoa">
        <xs:sequence>
          <xs:element name="Pes_Nome" type="xs:string"/>
          <xs:element name="PAt_Email" type="xs:string"/>
          <xs:element name="PAt_Obs" type="xs:string"/>
          <xs:element name="PAF_CPF" type="xs:string"/>
          <xs:element name="PAJ_CNPJ" type="xs:string"/>
          <xs:element name="Parametro" type="ns1:TParametro"/>
          <xs:element name="Endereco" type="ns1:TEndereco"/>
          <xs:element name="Usuario" type="ns1:TUsuario"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TParametro">
        <xs:sequence>
          <xs:element name="Par_Codigo" type="xs:int"/>
          <xs:element name="PVa_Vlr_Principal" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TEndereco">
        <xs:sequence>
          <xs:element name="End_Telefone" type="xs:string"/>
          <xs:element name="End_Celular" type="xs:string"/>
          <xs:element name="End_Rua" type="xs:string"/>
          <xs:element name="End_Numero" type="xs:string"/>
          <xs:element name="End_Complemento" type="xs:string"/>
          <xs:element name="End_Bairro" type="xs:string"/>
          <xs:element name="End_Cid_Nome" type="xs:string"/>
          <xs:element name="End_Est_Sigla" type="xs:string"/>
          <xs:element name="End_CEP" type="xs:string"/>
          <xs:element name="End_Latitude" type="xs:double"/>
          <xs:element name="End_Longitude" type="xs:double"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TUsuario">
        <xs:sequence>
          <xs:element name="Usu_Nome" type="xs:string"/>
          <xs:element name="Login" type="ns1:TLogin"/>
          <xs:element name="Per_Codigo" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TLista_Equipamento">
        <xs:complexContent>
          <xs:restriction base="soapenc:Array">
            <xs:sequence/>
            <xs:attribute ref="soapenc:arrayType" n1:arrayType="ns1:TEquipamento[]" xmlns:n1="http://schemas.xmlsoap.org/wsdl/"/>
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="TLista_Grupo">
        <xs:complexContent>
          <xs:restriction base="soapenc:Array">
            <xs:sequence/>
            <xs:attribute ref="soapenc:arrayType" n1:arrayType="ns1:TGrupo[]" xmlns:n1="http://schemas.xmlsoap.org/wsdl/"/>
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="TOperacao">
        <xs:sequence>
          <xs:element name="Ope_Descricao" type="xs:string"/>
          <xs:element name="Ope_Cod_Externo" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TEntidade_Pessoa">
        <xs:sequence>
          <xs:element name="TEP_Codigo" type="xs:int"/>
          <xs:element name="TEP_Descricao" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TLista_Medida">
        <xs:complexContent>
          <xs:restriction base="soapenc:Array">
            <xs:sequence/>
            <xs:attribute ref="soapenc:arrayType" n1:arrayType="ns1:TMedida[]" xmlns:n1="http://schemas.xmlsoap.org/wsdl/"/>
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="TLista_Status">
        <xs:complexContent>
          <xs:restriction base="soapenc:Array">
            <xs:sequence/>
            <xs:attribute ref="soapenc:arrayType" n1:arrayType="ns1:TStatus[]" xmlns:n1="http://schemas.xmlsoap.org/wsdl/"/>
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="TLista_Entidade">
        <xs:complexContent>
          <xs:restriction base="soapenc:Array">
            <xs:sequence/>
            <xs:attribute ref="soapenc:arrayType" n1:arrayType="ns1:TEntidade[]" xmlns:n1="http://schemas.xmlsoap.org/wsdl/"/>
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="TTrajeto_Ponto_Controle">
        <xs:sequence>
          <xs:element name="Ponto_Controle" type="ns1:TPonto_Controle"/>
          <xs:element name="TPC_Sequencia" type="xs:int"/>
          <xs:element name="TPC_Dat_Pre_Chegada" type="xs:dateTime"/>
          <xs:element name="TPC_Dat_Pre_Saida" type="xs:dateTime"/>
          <xs:element name="TPC_Dat_Chegada" type="xs:dateTime"/>
          <xs:element name="TPC_Dat_Saida" type="xs:dateTime"/>
          <xs:element name="Entrega_Coleta" type="ns1:TEntrega_Coleta"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TPonto_Controle">
        <xs:sequence>
          <xs:element name="PPC_Codigo" type="xs:int"/>
          <xs:element name="PPC_Descricao" type="xs:string"/>
          <xs:element name="PPC_Raio" type="xs:double"/>
          <xs:element name="TPO_Codigo" type="xs:int"/>
          <xs:element name="Cliente" type="ns1:TCliente"/>
          <xs:element name="Janela" type="ns1:TListaJanela"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TCliente">
        <xs:sequence>
          <xs:element name="Cli_CNPJ" type="xs:string"/>
          <xs:element name="Cli_Nome" type="xs:string"/>
          <xs:element name="Endereco" type="ns1:TEndereco"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TListaJanela">
        <xs:complexContent>
          <xs:restriction base="soapenc:Array">
            <xs:sequence/>
            <xs:attribute ref="soapenc:arrayType" n1:arrayType="ns1:TJanela[]" xmlns:n1="http://schemas.xmlsoap.org/wsdl/"/>
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="TEntrega_Coleta">
        <xs:sequence>
          <xs:element name="Documento" type="ns1:TListaDocumento"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TListaDocumento">
        <xs:complexContent>
          <xs:restriction base="soapenc:Array">
            <xs:sequence/>
            <xs:attribute ref="soapenc:arrayType" n1:arrayType="ns1:TDocumento[]" xmlns:n1="http://schemas.xmlsoap.org/wsdl/"/>
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="TLista_Trajeto_Ponto_Controle">
        <xs:complexContent>
          <xs:restriction base="soapenc:Array">
            <xs:sequence/>
            <xs:attribute ref="soapenc:arrayType" n1:arrayType="ns1:TTrajeto_Ponto_Controle[]" xmlns:n1="http://schemas.xmlsoap.org/wsdl/"/>
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="TLista_Servico">
        <xs:complexContent>
          <xs:restriction base="soapenc:Array">
            <xs:sequence/>
            <xs:attribute ref="soapenc:arrayType" n1:arrayType="ns1:TServico[]" xmlns:n1="http://schemas.xmlsoap.org/wsdl/"/>
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="TCarga">
        <xs:sequence>
          <xs:element name="TCa_Carga" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TLista_Operacao">
        <xs:complexContent>
          <xs:restriction base="soapenc:Array">
            <xs:sequence/>
            <xs:attribute ref="soapenc:arrayType" n1:arrayType="ns1:TOperacao[]" xmlns:n1="http://schemas.xmlsoap.org/wsdl/"/>
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="TCondutor">
        <xs:sequence>
          <xs:element name="Pes_Nome" type="xs:string"/>
          <xs:element name="PAF_CPF" type="xs:string"/>
          <xs:element name="PAF_RG" type="xs:string"/>
          <xs:element name="PAF_CNH" type="xs:string"/>
          <xs:element name="Endereco" type="ns1:TEndereco"/>
          <xs:element name="PessoaRelacao" type="ns1:TPessoa_Relacao"/>
          <xs:element name="PMo_Senha" type="xs:string"/>
          <xs:element name="PMo_Dat_Treinamento" type="ns2:TDate"/>
          <xs:element name="PMo_Ult_Folga" type="ns2:TDate"/>
          <xs:element name="PMo_Matricula" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TPessoa_Relacao">
        <xs:sequence>
          <xs:element name="TPR_Codigo" type="xs:int"/>
          <xs:element name="TPR_Descricao" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TEquipamento">
        <xs:sequence>
          <xs:element name="Equ_Nome" type="xs:string"/>
          <xs:element name="EqV_Descricao" type="xs:string"/>
          <xs:element name="EEV_MCT" type="xs:long"/>
          <xs:element name="EEV_Seq_Prioridade" type="xs:int"/>
          <xs:element name="EEV_Nro_Chip" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TGrupo">
        <xs:sequence>
          <xs:element name="Gru_Nome" type="xs:string"/>
          <xs:element name="Gru_Cod_Externo" type="xs:int"/>
          <xs:element name="TGr_Codigo" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TMedida">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="TStatus">
        <xs:sequence>
          <xs:element name="Sta_Codigo" type="xs:int"/>
          <xs:element name="Sta_Descricao" type="xs:string"/>
          <xs:element name="ESt_Dat_Inicio" type="xs:dateTime"/>
          <xs:element name="ESt_Dat_Fim" type="xs:dateTime"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TJanela">
        <xs:sequence>
          <xs:element name="Hor_Inicio" type="xs:double"/>
          <xs:element name="Hor_Fim" type="xs:double"/>
          <xs:element name="Rota" type="ns1:TRota"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TRota">
        <xs:sequence>
          <xs:element name="Rot_Nome" type="xs:string"/>
          <xs:element name="PPC_Codigo_Origem" type="xs:int"/>
          <xs:element name="PPC_Codigo_Destino" type="xs:int"/>
          <xs:element name="Usu_Codigo" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TDocumento">
        <xs:sequence>
          <xs:element name="Pedido" type="ns1:TListaPedido"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TListaPedido">
        <xs:complexContent>
          <xs:restriction base="soapenc:Array">
            <xs:sequence/>
            <xs:attribute ref="soapenc:arrayType" n1:arrayType="ns1:TPedido[]" xmlns:n1="http://schemas.xmlsoap.org/wsdl/"/>
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="TPedido">
        <xs:sequence>
          <xs:element name="Ped_Cod_Externo" type="xs:string"/>
          <xs:element name="Nota_Fiscal" type="ns1:TListaNota_Fiscal"/>
          <xs:element name="Ped_Cod_Cli_Venda" type="xs:string"/>
          <xs:element name="Ped_Cod_Esc_Venda" type="xs:string"/>
          <xs:element name="Ped_Cod_Age_Venda" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TListaNota_Fiscal">
        <xs:complexContent>
          <xs:restriction base="soapenc:Array">
            <xs:sequence/>
            <xs:attribute ref="soapenc:arrayType" n1:arrayType="ns1:TNota_Fiscal[]" xmlns:n1="http://schemas.xmlsoap.org/wsdl/"/>
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="TNota_Fiscal">
        <xs:sequence>
          <xs:element name="NFS_Numero" type="xs:int"/>
          <xs:element name="NFS_Valor" type="xs:double"/>
          <xs:element name="NFS_Shipment" type="xs:string"/>
          <xs:element name="NFS_Serie" type="xs:string"/>
          <xs:element name="Med_Codigo" type="xs:int"/>
          <xs:element name="NFM_Vlr_Medida" type="xs:double"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TServico">
        <xs:sequence>
          <xs:element name="Ser_Nome" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="Autenticacao0Request">
    <part name="Login" type="ns1:TLogin"/>
  </message>
  <message name="Autenticacao0Response">
    <part name="return" type="ns1:TLogin"/>
  </message>
  <message name="InsereTrajeto1Request">
    <part name="Trajeto" type="ns1:TTrajeto"/>
  </message>
  <message name="InsereTrajeto1Response">
    <part name="return" type="ns1:TMensagem"/>
  </message>
  <message name="InsereEntidade2Request">
    <part name="Entidade" type="ns1:TEntidade"/>
    <part name="Condutor" type="ns1:TLista_Condutor"/>
    <part name="Login" type="ns1:TLogin"/>
  </message>
  <message name="InsereEntidade2Response">
    <part name="return" type="xs:int"/>
  </message>
  <message name="InsereTrajetoXml3Request">
    <part name="XML" type="xs:string"/>
  </message>
  <message name="InsereTrajetoXml3Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="InsereEntidadeXml4Request">
    <part name="XML" type="xs:string"/>
  </message>
  <message name="InsereEntidadeXml4Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="InsereUsuarioXml5Request">
    <part name="XML" type="xs:string"/>
  </message>
  <message name="InsereUsuarioXml5Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="AtualizaTrajeto6Request">
    <part name="Login" type="ns1:TLogin"/>
    <part name="Id_Trajeto" type="xs:string"/>
    <part name="TAt_Codigo" type="xs:int"/>
    <part name="Tipo_Atualizacao" type="xs:int"/>
  </message>
  <message name="AtualizaTrajeto6Response">
    <part name="return" type="ns1:TMensagem"/>
  </message>
  <message name="FinalizaTrajeto7Request">
    <part name="Login" type="ns1:TLogin"/>
    <part name="Id_Trajeto" type="xs:string"/>
    <part name="Tipo_Finalizacao" type="xs:int"/>
  </message>
  <message name="FinalizaTrajeto7Response">
    <part name="return" type="ns1:TMensagem"/>
  </message>
  <message name="AtualizaTrajeto_Entidade8Request">
    <part name="Login" type="ns1:TLogin"/>
    <part name="Id_Trajeto" type="xs:string"/>
    <part name="Ent_Identificador" type="xs:string"/>
    <part name="Tipo_Atualizacao" type="xs:int"/>
  </message>
  <message name="AtualizaTrajeto_Entidade8Response">
    <part name="return" type="ns1:TMensagem"/>
  </message>
  <message name="BuscaTrajeto9Request">
    <part name="Login" type="ns1:TLogin"/>
    <part name="Id_Trajeto" type="xs:string"/>
  </message>
  <message name="BuscaTrajeto9Response">
    <part name="return" type="ns1:TTrajeto"/>
  </message>
  <message name="BuscaLocalizacao10Request">
    <part name="Latitude" type="xs:double"/>
    <part name="Longitude" type="xs:double"/>
    <part name="MCT" type="xs:int"/>
  </message>
  <message name="BuscaLocalizacao10Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="ReprogramarPonto11Request">
    <part name="Login" type="ns1:TLogin"/>
    <part name="Id_Trajeto" type="xs:string"/>
    <part name="CNPJPonto" type="xs:string"/>
    <part name="TPC_Dat_Pre_Chegada" type="xs:dateTime"/>
    <part name="TPC_Dat_Pre_Saida" type="xs:dateTime"/>
  </message>
  <message name="ReprogramarPonto11Response">
    <part name="return" type="ns1:TMensagem"/>
  </message>
  <message name="BuscaNCTrajeto12Request">
    <part name="Login" type="ns1:TLogin"/>
    <part name="IdNC" type="xs:int"/>
  </message>
  <message name="BuscaNCTrajeto12Response">
    <part name="return" type="ns1:TMensagem"/>
  </message>
  <message name="BuscaNCTrajeto213Request">
    <part name="Login" type="ns1:TLogin"/>
    <part name="IdNC" type="xs:int"/>
  </message>
  <message name="BuscaNCTrajeto213Response">
    <part name="return" type="ns1:TMensagem"/>
  </message>
  <message name="BuscaTrajetoAtributo14Request">
    <part name="Login" type="ns1:TLogin"/>
    <part name="Id_Trajeto" type="xs:string"/>
  </message>
  <message name="BuscaTrajetoAtributo14Response">
    <part name="return" type="ns1:TMensagem"/>
  </message>
  <message name="InsereAlerta15Request">
    <part name="Login" type="ns1:TLogin"/>
    <part name="Ent_Identificador" type="xs:string"/>
    <part name="Ale_Descricao" type="xs:string"/>
    <part name="TAl_Codigo" type="xs:int"/>
  </message>
  <message name="InsereAlerta15Response">
    <part name="return" type="ns1:TMensagem"/>
  </message>
  <portType name="IWSIntegERP">
    <operation name="Autenticacao">
      <input message="tns:Autenticacao0Request"/>
      <output message="tns:Autenticacao0Response"/>
    </operation>
    <operation name="InsereTrajeto">
      <input message="tns:InsereTrajeto1Request"/>
      <output message="tns:InsereTrajeto1Response"/>
    </operation>
    <operation name="InsereEntidade">
      <input message="tns:InsereEntidade2Request"/>
      <output message="tns:InsereEntidade2Response"/>
    </operation>
    <operation name="InsereTrajetoXml">
      <input message="tns:InsereTrajetoXml3Request"/>
      <output message="tns:InsereTrajetoXml3Response"/>
    </operation>
    <operation name="InsereEntidadeXml">
      <input message="tns:InsereEntidadeXml4Request"/>
      <output message="tns:InsereEntidadeXml4Response"/>
    </operation>
    <operation name="InsereUsuarioXml">
      <input message="tns:InsereUsuarioXml5Request"/>
      <output message="tns:InsereUsuarioXml5Response"/>
    </operation>
    <operation name="AtualizaTrajeto">
      <input message="tns:AtualizaTrajeto6Request"/>
      <output message="tns:AtualizaTrajeto6Response"/>
    </operation>
    <operation name="FinalizaTrajeto">
      <input message="tns:FinalizaTrajeto7Request"/>
      <output message="tns:FinalizaTrajeto7Response"/>
    </operation>
    <operation name="AtualizaTrajeto_Entidade">
      <input message="tns:AtualizaTrajeto_Entidade8Request"/>
      <output message="tns:AtualizaTrajeto_Entidade8Response"/>
    </operation>
    <operation name="BuscaTrajeto">
      <input message="tns:BuscaTrajeto9Request"/>
      <output message="tns:BuscaTrajeto9Response"/>
    </operation>
    <operation name="BuscaLocalizacao">
      <input message="tns:BuscaLocalizacao10Request"/>
      <output message="tns:BuscaLocalizacao10Response"/>
    </operation>
    <operation name="ReprogramarPonto">
      <input message="tns:ReprogramarPonto11Request"/>
      <output message="tns:ReprogramarPonto11Response"/>
    </operation>
    <operation name="BuscaNCTrajeto">
      <input message="tns:BuscaNCTrajeto12Request"/>
      <output message="tns:BuscaNCTrajeto12Response"/>
    </operation>
    <operation name="BuscaNCTrajeto2">
      <input message="tns:BuscaNCTrajeto213Request"/>
      <output message="tns:BuscaNCTrajeto213Response"/>
    </operation>
    <operation name="BuscaTrajetoAtributo">
      <input message="tns:BuscaTrajetoAtributo14Request"/>
      <output message="tns:BuscaTrajetoAtributo14Response"/>
    </operation>
    <operation name="InsereAlerta">
      <input message="tns:InsereAlerta15Request"/>
      <output message="tns:InsereAlerta15Response"/>
    </operation>
  </portType>
  <binding name="IWSIntegERPbinding" type="tns:IWSIntegERP">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Autenticacao">
      <soap:operation soapAction="urn:WSIntegERPIntf-IWSIntegERP#Autenticacao" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:WSIntegERPIntf-IWSIntegERP"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:WSIntegERPIntf-IWSIntegERP"/>
      </output>
    </operation>
    <operation name="InsereTrajeto">
      <soap:operation soapAction="urn:WSIntegERPIntf-IWSIntegERP#InsereTrajeto" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:WSIntegERPIntf-IWSIntegERP"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:WSIntegERPIntf-IWSIntegERP"/>
      </output>
    </operation>
    <operation name="InsereEntidade">
      <soap:operation soapAction="urn:WSIntegERPIntf-IWSIntegERP#InsereEntidade" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:WSIntegERPIntf-IWSIntegERP"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:WSIntegERPIntf-IWSIntegERP"/>
      </output>
    </operation>
    <operation name="InsereTrajetoXml">
      <soap:operation soapAction="urn:WSIntegERPIntf-IWSIntegERP#InsereTrajetoXml" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:WSIntegERPIntf-IWSIntegERP"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:WSIntegERPIntf-IWSIntegERP"/>
      </output>
    </operation>
    <operation name="InsereEntidadeXml">
      <soap:operation soapAction="urn:WSIntegERPIntf-IWSIntegERP#InsereEntidadeXml" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:WSIntegERPIntf-IWSIntegERP"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:WSIntegERPIntf-IWSIntegERP"/>
      </output>
    </operation>
    <operation name="InsereUsuarioXml">
      <soap:operation soapAction="urn:WSIntegERPIntf-IWSIntegERP#InsereUsuarioXml" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:WSIntegERPIntf-IWSIntegERP"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:WSIntegERPIntf-IWSIntegERP"/>
      </output>
    </operation>
    <operation name="AtualizaTrajeto">
      <soap:operation soapAction="urn:WSIntegERPIntf-IWSIntegERP#AtualizaTrajeto" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:WSIntegERPIntf-IWSIntegERP"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:WSIntegERPIntf-IWSIntegERP"/>
      </output>
    </operation>
    <operation name="FinalizaTrajeto">
      <soap:operation soapAction="urn:WSIntegERPIntf-IWSIntegERP#FinalizaTrajeto" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:WSIntegERPIntf-IWSIntegERP"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:WSIntegERPIntf-IWSIntegERP"/>
      </output>
    </operation>
    <operation name="AtualizaTrajeto_Entidade">
      <soap:operation soapAction="urn:WSIntegERPIntf-IWSIntegERP#AtualizaTrajeto_Entidade" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:WSIntegERPIntf-IWSIntegERP"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:WSIntegERPIntf-IWSIntegERP"/>
      </output>
    </operation>
    <operation name="BuscaTrajeto">
      <soap:operation soapAction="urn:WSIntegERPIntf-IWSIntegERP#BuscaTrajeto" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:WSIntegERPIntf-IWSIntegERP"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:WSIntegERPIntf-IWSIntegERP"/>
      </output>
    </operation>
    <operation name="BuscaLocalizacao">
      <soap:operation soapAction="urn:WSIntegERPIntf-IWSIntegERP#BuscaLocalizacao" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:WSIntegERPIntf-IWSIntegERP"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:WSIntegERPIntf-IWSIntegERP"/>
      </output>
    </operation>
    <operation name="ReprogramarPonto">
      <soap:operation soapAction="urn:WSIntegERPIntf-IWSIntegERP#ReprogramarPonto" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:WSIntegERPIntf-IWSIntegERP"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:WSIntegERPIntf-IWSIntegERP"/>
      </output>
    </operation>
    <operation name="BuscaNCTrajeto">
      <soap:operation soapAction="urn:WSIntegERPIntf-IWSIntegERP#BuscaNCTrajeto" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:WSIntegERPIntf-IWSIntegERP"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:WSIntegERPIntf-IWSIntegERP"/>
      </output>
    </operation>
    <operation name="BuscaNCTrajeto2">
      <soap:operation soapAction="urn:WSIntegERPIntf-IWSIntegERP#BuscaNCTrajeto2" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:WSIntegERPIntf-IWSIntegERP"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:WSIntegERPIntf-IWSIntegERP"/>
      </output>
    </operation>
    <operation name="BuscaTrajetoAtributo">
      <soap:operation soapAction="urn:WSIntegERPIntf-IWSIntegERP#BuscaTrajetoAtributo" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:WSIntegERPIntf-IWSIntegERP"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:WSIntegERPIntf-IWSIntegERP"/>
      </output>
    </operation>
    <operation name="InsereAlerta">
      <soap:operation soapAction="urn:WSIntegERPIntf-IWSIntegERP#InsereAlerta" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:WSIntegERPIntf-IWSIntegERP"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:WSIntegERPIntf-IWSIntegERP"/>
      </output>
    </operation>
  </binding>
  <service name="IWSIntegERPservice">
    <port name="IWSIntegERPPort" binding="tns:IWSIntegERPbinding">
      <soap:address location="http://177.75.152.221:8084/WSIntegERP/WSIntegERP.exe/soap/IWSIntegERP"/>
    </port>
  </service>
</definitions>
