spec/fixtures/wsdl/wasmuth.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-b01-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.online.msw/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.online.msw/" name="OnlineSyncService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.online.msw/" schemaLocation="http://www3.mediaservice-wasmuth.de:80/online-ws-2.0/OnlineSync?xsd=1" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="customers.model.online.msw" schemaLocation="http://www3.mediaservice-wasmuth.de:80/online-ws-2.0/OnlineSync?xsd=2" />
</xsd:schema>
</types>
<message name="getStTables">
<part name="parameters" element="tns:getStTables" />
</message>
<message name="getStTablesResponse">
<part name="parameters" element="tns:getStTablesResponse" />
</message>
<message name="getDbManager">
<part name="parameters" element="tns:getDbManager" />
</message>
<message name="getDbManagerResponse">
<part name="parameters" element="tns:getDbManagerResponse" />
</message>
<message name="getVermarkterData">
<part name="parameters" element="tns:getVermarkterData" />
</message>
<message name="getVermarkterDataResponse">
<part name="parameters" element="tns:getVermarkterDataResponse" />
</message>
<message name="getBelegungseinheitData">
<part name="parameters" element="tns:getBelegungseinheitData" />
</message>
<message name="getBelegungseinheitDataResponse">
<part name="parameters" element="tns:getBelegungseinheitDataResponse" />
</message>
<message name="getOnlineResponseData">
<part name="parameters" element="tns:getOnlineResponseData" />
</message>
<message name="getOnlineResponseDataResponse">
<part name="parameters" element="tns:getOnlineResponseDataResponse" />
</message>
<message name="getVermarkterList">
<part name="parameters" element="tns:getVermarkterList" />
</message>
<message name="getVermarkterListResponse">
<part name="parameters" element="tns:getVermarkterListResponse" />
</message>
<message name="getBelegungseinheitList">
<part name="parameters" element="tns:getBelegungseinheitList" />
</message>
<message name="getBelegungseinheitListResponse">
<part name="parameters" element="tns:getBelegungseinheitListResponse" />
</message>
<portType name="OnlineSync">
<operation name="getStTables">
<input wsam:Action="http://ws.online.msw/OnlineSync/getStTablesRequest" message="tns:getStTables" />
<output wsam:Action="http://ws.online.msw/OnlineSync/getStTablesResponse" message="tns:getStTablesResponse" />
</operation>
<operation name="getDbManager">
<input wsam:Action="http://ws.online.msw/OnlineSync/getDbManagerRequest" message="tns:getDbManager" />
<output wsam:Action="http://ws.online.msw/OnlineSync/getDbManagerResponse" message="tns:getDbManagerResponse" />
</operation>
<operation name="getVermarkterData">
<input wsam:Action="http://ws.online.msw/OnlineSync/getVermarkterDataRequest" message="tns:getVermarkterData" />
<output wsam:Action="http://ws.online.msw/OnlineSync/getVermarkterDataResponse" message="tns:getVermarkterDataResponse" />
</operation>
<operation name="getBelegungseinheitData">
<input wsam:Action="http://ws.online.msw/OnlineSync/getBelegungseinheitDataRequest" message="tns:getBelegungseinheitData" />
<output wsam:Action="http://ws.online.msw/OnlineSync/getBelegungseinheitDataResponse" message="tns:getBelegungseinheitDataResponse" />
</operation>
<operation name="getOnlineResponseData">
<input wsam:Action="http://ws.online.msw/OnlineSync/getOnlineResponseDataRequest" message="tns:getOnlineResponseData" />
<output wsam:Action="http://ws.online.msw/OnlineSync/getOnlineResponseDataResponse" message="tns:getOnlineResponseDataResponse" />
</operation>
<operation name="getVermarkterList">
<input wsam:Action="http://ws.online.msw/OnlineSync/getVermarkterListRequest" message="tns:getVermarkterList" />
<output wsam:Action="http://ws.online.msw/OnlineSync/getVermarkterListResponse" message="tns:getVermarkterListResponse" />
</operation>
<operation name="getBelegungseinheitList">
<input wsam:Action="http://ws.online.msw/OnlineSync/getBelegungseinheitListRequest" message="tns:getBelegungseinheitList" />
<output wsam:Action="http://ws.online.msw/OnlineSync/getBelegungseinheitListResponse" message="tns:getBelegungseinheitListResponse" />
</operation>
</portType>
<binding name="OnlineSyncPortBinding" type="tns:OnlineSync">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getStTables">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getDbManager">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getVermarkterData">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getBelegungseinheitData">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getOnlineResponseData">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getVermarkterList">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getBelegungseinheitList">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="OnlineSyncService">
<port name="OnlineSyncPort" binding="tns:OnlineSyncPortBinding">
<soap:address location="http://www3.mediaservice-wasmuth.de:80/online-ws-2.0/OnlineSync" />
</port>
</service>
</definitions>
