spec/fixtures/inherited.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:ens="http://api.example.com/" 
	xmlns:ons="http://object.api.example.com/" 
	xmlns:fns="http://fault.api.example.com/" 
	targetNamespace="http://api.example.com/">
	<types>
		<schema attributeFormDefault="qualified" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://object.api.example.com/">
			<complexType name="Account">
				<complexContent>
					<extension base="ons:baseObject">
						<sequence>
							<element minOccurs="0" name="Description" nillable="true" type="string" />
							<element minOccurs="0" name="ProcessId" nillable="true" type="ens:ID" />
              <element minOccurs="0" name="CreatedDate" nillable="true" type="dateTime" />
						</sequence>
					</extension>
				</complexContent>
      </complexType>
			<complexType name="baseObject">
				<sequence>
					<element minOccurs="0" maxOccurs="unbounded" name="fieldsToNull" nillable="true" type="string" />
					<element minOccurs="0" maxOccurs="1" name="Id" nillable="true" type="ens:ID" />
				</sequence>
			</complexType>
    </schema>

		<schema attributeFormDefault="qualified" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://api.example.com/">
			<simpleType name="ID">
				<restriction base="xs:string">
					<pattern value='[a-zA-Z0-9]{32}|\d+' />
				</restriction>
			</simpleType>
			<element name="DummyHeader">
				<complexType>
					<sequence>
						<element minOccurs="0" name="Account" nillable="true" type="ons:Account" />
					</sequence>
				</complexType>
      </element>
    </schema>
  </types>
</definitions>
