spec/fixtures/ratp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- http://www.ratp.fr/wsiv/services/Wsiv?wsdl -->
<wsdl:definitions targetNamespace="http://wsiv.ratp.fr" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns0="http://wsiv.ratp.fr/xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns1="http://wsiv.ratp.fr" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
<wsdl:documentation>
		RATP : Web Service Information Voyageur
	</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://wsiv.ratp.fr/xsd" xmlns:ax21="http://wsiv.ratp.fr/xsd">
    <xs:complexType name="GeoPoint">
        <xs:sequence>
            <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="nameSuffix" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="x" type="xs:double"/>
            <xs:element minOccurs="0" name="y" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Line">
        <xs:sequence>
            <xs:element minOccurs="0" name="code" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="codeStif" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="image" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="realm" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="reseau" nillable="true" type="ax21:Reseau"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Reseau">
        <xs:sequence>
            <xs:element minOccurs="0" name="code" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="image" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="WrDirections">
        <xs:sequence>
            <xs:element minOccurs="0" name="ambiguityMessage" nillable="true" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ambiguousLines" nillable="true" type="ax21:Line"/>
            <xs:element minOccurs="0" name="argumentLine" nillable="true" type="ax21:Line"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="directions" nillable="true" type="ax21:Direction"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Direction">
        <xs:sequence>
            <xs:element minOccurs="0" name="line" nillable="true" type="ax21:Line"/>
            <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="sens" nillable="true" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="stationsEndLine" nillable="true" type="ax21:Station"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Station">
        <xs:sequence>
            <xs:element minOccurs="0" name="direction" nillable="true" type="ax21:Direction"/>
            <xs:element minOccurs="0" name="geoPointA" nillable="true" type="ax21:GeoPoint"/>
            <xs:element minOccurs="0" name="geoPointR" nillable="true" type="ax21:GeoPoint"/>
            <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="idsNextA" nillable="true" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="idsNextR" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="line" nillable="true" type="ax21:Line"/>
            <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="stationArea" nillable="true" type="ax21:StationArea"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StationArea">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="access" nillable="true" type="ax21:StationAcces"/>
            <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="stations" nillable="true" type="ax21:Station"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="tarifsToParis" nillable="true" type="ax21:Tarif"/>
            <xs:element minOccurs="0" name="zoneCarteOrange" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StationAcces">
        <xs:sequence>
            <xs:element minOccurs="0" name="address" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="index" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="timeDaysLabel" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="timeDaysStatus" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="timeEnd" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="timeStart" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="x" type="xs:double"/>
            <xs:element minOccurs="0" name="y" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Tarif">
        <xs:sequence>
            <xs:element minOccurs="0" name="demiTarif" type="xs:float"/>
            <xs:element minOccurs="0" name="pleinTarif" type="xs:float"/>
            <xs:element minOccurs="0" name="viaLine" nillable="true" type="ax21:Line"/>
            <xs:element minOccurs="0" name="viaReseau" nillable="true" type="ax21:Reseau"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="WrItineraries">
        <xs:sequence>
            <xs:element minOccurs="0" name="ambiguityMessage" nillable="true" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ambiguousGeoPointsEnd" nillable="true" type="ax21:GeoPoint"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ambiguousGeoPointsStart" nillable="true" type="ax21:GeoPoint"/>
            <xs:element minOccurs="0" name="argumentDate" nillable="true" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="itineraries" nillable="true" type="ax21:Itinerary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Itinerary">
        <xs:sequence>
            <xs:element minOccurs="0" name="dateEnd" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="dateStart" nillable="true" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="durationsTransit" nillable="true" type="xs:int"/>
            <xs:element minOccurs="0" name="geoPointEnd" nillable="true" type="ax21:GeoPoint"/>
            <xs:element minOccurs="0" name="geoPointStart" nillable="true" type="ax21:GeoPoint"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="missions" nillable="true" type="ax21:Mission"/>
            <xs:element minOccurs="0" name="tarif" nillable="true" type="ax21:Tarif"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Mission">
        <xs:sequence>
            <xs:element minOccurs="0" name="code" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="direction" nillable="true" type="ax21:Direction"/>
            <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="line" nillable="true" type="ax21:Line"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="perturbations" nillable="true" type="ax21:Perturbation"/>
            <xs:element minOccurs="0" name="stationEndLine" nillable="true" type="ax21:Station"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="stations" nillable="true" type="ax21:Station"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="stationsDates" nillable="true" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="stationsMessages" nillable="true" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="stationsPlatforms" nillable="true" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="stationsStops" nillable="true" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Perturbation">
        <xs:sequence>
            <xs:element minOccurs="0" name="cause" nillable="true" type="ax21:PerturbationCause"/>
            <xs:element minOccurs="0" name="consequence" nillable="true" type="ax21:PerturbationConsequence"/>
            <xs:element minOccurs="0" name="dateEnd" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="dateStart" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="incidents" nillable="true" type="ax21:PerturbationIncident"/>
            <xs:element minOccurs="0" name="level" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="line" nillable="true" type="ax21:Line"/>
            <xs:element minOccurs="0" name="media" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="message" nillable="true" type="ax21:PerturbationMessage"/>
            <xs:element minOccurs="0" name="source" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="station" nillable="true" type="ax21:Station"/>
            <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="timeEnd" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="timeStart" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="title" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PerturbationCause">
        <xs:sequence>
            <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="parentId" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="parentName" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PerturbationConsequence">
        <xs:sequence>
            <xs:element minOccurs="0" name="code" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="level" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PerturbationIncident">
        <xs:sequence>
            <xs:element minOccurs="0" name="date" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="incidentLines" nillable="true" type="ax21:PerturbationIncidentLine"/>
            <xs:element minOccurs="0" name="messageGlobal" nillable="true" type="ax21:PerturbationMessage"/>
            <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PerturbationIncidentLine">
        <xs:sequence>
            <xs:element minOccurs="0" name="consequence" nillable="true" type="ax21:PerturbationConsequence"/>
            <xs:element minOccurs="0" name="line" nillable="true" type="ax21:Line"/>
            <xs:element minOccurs="0" name="messageLarge" nillable="true" type="ax21:PerturbationMessage"/>
            <xs:element minOccurs="0" name="messageMedium" nillable="true" type="ax21:PerturbationMessage"/>
            <xs:element minOccurs="0" name="messageShort" nillable="true" type="ax21:PerturbationMessage"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="stations" nillable="true" type="ax21:Station"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PerturbationMessage">
        <xs:sequence>
            <xs:element minOccurs="0" name="mediaSpecific" type="xs:boolean"/>
            <xs:element minOccurs="0" name="text" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="updated" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="WrMission">
        <xs:sequence>
            <xs:element minOccurs="0" name="ambiguityMessage" nillable="true" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ambiguousLines" nillable="true" type="ax21:Line"/>
            <xs:element minOccurs="0" name="argumentDate" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="argumentLine" nillable="true" type="ax21:Line"/>
            <xs:element minOccurs="0" name="mission" nillable="true" type="ax21:Mission"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="WrMissions">
        <xs:sequence>
            <xs:element minOccurs="0" name="ambiguityMessage" nillable="true" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ambiguousDirections" nillable="true" type="ax21:Direction"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ambiguousLines" nillable="true" type="ax21:Line"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ambiguousStations" nillable="true" type="ax21:Station"/>
            <xs:element minOccurs="0" name="argumentDate" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="argumentDirection" nillable="true" type="ax21:Direction"/>
            <xs:element minOccurs="0" name="argumentLine" nillable="true" type="ax21:Line"/>
            <xs:element minOccurs="0" name="argumentStation" nillable="true" type="ax21:Station"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="missions" nillable="true" type="ax21:Mission"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="perturbations" nillable="true" type="ax21:Perturbation"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="WrPerturbations">
        <xs:sequence>
            <xs:element minOccurs="0" name="argumentMedia" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="argumentSource" nillable="true" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="perturbations" nillable="true" type="ax21:Perturbation"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="WrStationAreas">
        <xs:sequence>
            <xs:element minOccurs="0" name="ambiguityMessage" nillable="true" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ambiguousGeoPoints" nillable="true" type="ax21:GeoPoint"/>
            <xs:element minOccurs="0" name="argumentGeoPoint" nillable="true" type="ax21:GeoPoint"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="distances" nillable="true" type="xs:int"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="stationAreas" nillable="true" type="ax21:StationArea"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="WrStations">
        <xs:sequence>
            <xs:element minOccurs="0" name="ambiguityMessage" nillable="true" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ambiguousGeoPoints" nillable="true" type="ax21:GeoPoint"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ambiguousLines" nillable="true" type="ax21:Line"/>
            <xs:element minOccurs="0" name="argumentDirection" nillable="true" type="ax21:Direction"/>
            <xs:element minOccurs="0" name="argumentGeoPoint" nillable="true" type="ax21:GeoPoint"/>
            <xs:element minOccurs="0" name="argumentLine" nillable="true" type="ax21:Line"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="distances" nillable="true" type="xs:int"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="stations" nillable="true" type="ax21:Station"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://wsiv.ratp.fr" xmlns:ns="http://wsiv.ratp.fr">
    <xs:element name="getGeoPoints">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="gp" nillable="true" type="ns0:GeoPoint"/>
                <xs:element minOccurs="0" name="limit" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getGeoPointsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ns0:GeoPoint"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getLines">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="line" nillable="true" type="ns0:Line"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getLinesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ns0:Line"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getDirections">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="line" nillable="true" type="ns0:Line"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getDirectionsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" nillable="true" type="ns0:WrDirections"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getItineraries">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="gpStart" nillable="true" type="ns0:GeoPoint"/>
                <xs:element minOccurs="0" name="gpEnd" nillable="true" type="ns0:GeoPoint"/>
                <xs:element minOccurs="0" name="gpVia" nillable="true" type="ns0:GeoPoint"/>
                <xs:element minOccurs="0" name="dateStartOrEnd" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="isDateStart" type="xs:boolean"/>
                <xs:element minOccurs="0" name="reseauOrGroup" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="travelType" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="isDetail" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getItinerariesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" nillable="true" type="ns0:WrItineraries"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getMission">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="mission" nillable="true" type="ns0:Mission"/>
                <xs:element minOccurs="0" name="date" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="stationAll" type="xs:boolean"/>
                <xs:element minOccurs="0" name="stationSortAlpha" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getMissionResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" nillable="true" type="ns0:WrMission"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getMissionsFirstLast">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="station" nillable="true" type="ns0:Station"/>
                <xs:element minOccurs="0" name="direction" nillable="true" type="ns0:Direction"/>
                <xs:element minOccurs="0" name="date" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getMissionsFirstLastResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" nillable="true" type="ns0:WrMissions"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getMissionsFrequency">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="station" nillable="true" type="ns0:Station"/>
                <xs:element minOccurs="0" name="direction" nillable="true" type="ns0:Direction"/>
                <xs:element minOccurs="0" name="stationEndLine" nillable="true" type="ns0:Station"/>
                <xs:element minOccurs="0" name="stationEnd" nillable="true" type="ns0:Station"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="datesStart" nillable="true" type="xs:string"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="datesEnd" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getMissionsFrequencyResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" nillable="true" type="ns0:WrMissions"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getMissionsNext">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="station" nillable="true" type="ns0:Station"/>
                <xs:element minOccurs="0" name="direction" nillable="true" type="ns0:Direction"/>
                <xs:element minOccurs="0" name="dateStart" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="limit" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getMissionsNextResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" nillable="true" type="ns0:WrMissions"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getPerturbations">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="perturbation" nillable="true" type="ns0:Perturbation"/>
                <xs:element minOccurs="0" name="isXmlText" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getPerturbationsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" nillable="true" type="ns0:WrPerturbations"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getStationAreas">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="stationArea" nillable="true" type="ns0:StationArea"/>
                <xs:element minOccurs="0" name="gp" nillable="true" type="ns0:GeoPoint"/>
                <xs:element minOccurs="0" name="distance" type="xs:int"/>
                <xs:element minOccurs="0" name="limit" type="xs:int"/>
                <xs:element minOccurs="0" name="sortAlpha" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getStationAreasResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" nillable="true" type="ns0:WrStationAreas"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getStations">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="station" nillable="true" type="ns0:Station"/>
                <xs:element minOccurs="0" name="gp" nillable="true" type="ns0:GeoPoint"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="distances" type="xs:int"/>
                <xs:element minOccurs="0" name="limit" type="xs:int"/>
                <xs:element minOccurs="0" name="sortAlpha" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getStationsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" nillable="true" type="ns0:WrStations"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getVersionResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getDirectionsRequest">
    <wsdl:part name="parameters" element="ns1:getDirections">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStationsResponse">
    <wsdl:part name="parameters" element="ns1:getStationsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getItinerariesRequest">
    <wsdl:part name="parameters" element="ns1:getItineraries">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMissionsFrequencyRequest">
    <wsdl:part name="parameters" element="ns1:getMissionsFrequency">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getGeoPointsRequest">
    <wsdl:part name="parameters" element="ns1:getGeoPoints">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMissionRequest">
    <wsdl:part name="parameters" element="ns1:getMission">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStationAreasRequest">
    <wsdl:part name="parameters" element="ns1:getStationAreas">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStationsRequest">
    <wsdl:part name="parameters" element="ns1:getStations">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMissionResponse">
    <wsdl:part name="parameters" element="ns1:getMissionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDirectionsResponse">
    <wsdl:part name="parameters" element="ns1:getDirectionsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMissionsNextResponse">
    <wsdl:part name="parameters" element="ns1:getMissionsNextResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStationAreasResponse">
    <wsdl:part name="parameters" element="ns1:getStationAreasResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPerturbationsResponse">
    <wsdl:part name="parameters" element="ns1:getPerturbationsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMissionsFirstLastRequest">
    <wsdl:part name="parameters" element="ns1:getMissionsFirstLast">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getGeoPointsResponse">
    <wsdl:part name="parameters" element="ns1:getGeoPointsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMissionsFrequencyResponse">
    <wsdl:part name="parameters" element="ns1:getMissionsFrequencyResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLinesResponse">
    <wsdl:part name="parameters" element="ns1:getLinesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionRequest">
  </wsdl:message>
  <wsdl:message name="getItinerariesResponse">
    <wsdl:part name="parameters" element="ns1:getItinerariesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPerturbationsRequest">
    <wsdl:part name="parameters" element="ns1:getPerturbations">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLinesRequest">
    <wsdl:part name="parameters" element="ns1:getLines">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionResponse">
    <wsdl:part name="parameters" element="ns1:getVersionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMissionsNextRequest">
    <wsdl:part name="parameters" element="ns1:getMissionsNext">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMissionsFirstLastResponse">
    <wsdl:part name="parameters" element="ns1:getMissionsFirstLastResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WsivPortType">
    <wsdl:operation name="getItineraries">
      <wsdl:input message="ns1:getItinerariesRequest" wsaw:Action="urn:getItineraries">
    </wsdl:input>
      <wsdl:output message="ns1:getItinerariesResponse" wsaw:Action="urn:getItinerariesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMissionsFrequency">
      <wsdl:input message="ns1:getMissionsFrequencyRequest" wsaw:Action="urn:getMissionsFrequency">
    </wsdl:input>
      <wsdl:output message="ns1:getMissionsFrequencyResponse" wsaw:Action="urn:getMissionsFrequencyResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMissionsFirstLast">
      <wsdl:input message="ns1:getMissionsFirstLastRequest" wsaw:Action="urn:getMissionsFirstLast">
    </wsdl:input>
      <wsdl:output message="ns1:getMissionsFirstLastResponse" wsaw:Action="urn:getMissionsFirstLastResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStationAreas">
      <wsdl:input message="ns1:getStationAreasRequest" wsaw:Action="urn:getStationAreas">
    </wsdl:input>
      <wsdl:output message="ns1:getStationAreasResponse" wsaw:Action="urn:getStationAreasResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <wsdl:input message="ns1:getVersionRequest" wsaw:Action="urn:getVersion">
    </wsdl:input>
      <wsdl:output message="ns1:getVersionResponse" wsaw:Action="urn:getVersionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLines">
      <wsdl:input message="ns1:getLinesRequest" wsaw:Action="urn:getLines">
    </wsdl:input>
      <wsdl:output message="ns1:getLinesResponse" wsaw:Action="urn:getLinesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStations">
      <wsdl:input message="ns1:getStationsRequest" wsaw:Action="urn:getStations">
    </wsdl:input>
      <wsdl:output message="ns1:getStationsResponse" wsaw:Action="urn:getStationsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMissionsNext">
      <wsdl:input message="ns1:getMissionsNextRequest" wsaw:Action="urn:getMissionsNext">
    </wsdl:input>
      <wsdl:output message="ns1:getMissionsNextResponse" wsaw:Action="urn:getMissionsNextResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDirections">
      <wsdl:input message="ns1:getDirectionsRequest" wsaw:Action="urn:getDirections">
    </wsdl:input>
      <wsdl:output message="ns1:getDirectionsResponse" wsaw:Action="urn:getDirectionsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMission">
      <wsdl:input message="ns1:getMissionRequest" wsaw:Action="urn:getMission">
    </wsdl:input>
      <wsdl:output message="ns1:getMissionResponse" wsaw:Action="urn:getMissionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPerturbations">
      <wsdl:input message="ns1:getPerturbationsRequest" wsaw:Action="urn:getPerturbations">
    </wsdl:input>
      <wsdl:output message="ns1:getPerturbationsResponse" wsaw:Action="urn:getPerturbationsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGeoPoints">
      <wsdl:input message="ns1:getGeoPointsRequest" wsaw:Action="urn:getGeoPoints">
    </wsdl:input>
      <wsdl:output message="ns1:getGeoPointsResponse" wsaw:Action="urn:getGeoPointsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsivHttpBinding" type="ns1:WsivPortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="getItineraries">
      <http:operation location="Wsiv/getItineraries"/>
      <wsdl:input>
        <mime:content part="getItineraries" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getItineraries" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMissionsFrequency">
      <http:operation location="Wsiv/getMissionsFrequency"/>
      <wsdl:input>
        <mime:content part="getMissionsFrequency" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getMissionsFrequency" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMissionsFirstLast">
      <http:operation location="Wsiv/getMissionsFirstLast"/>
      <wsdl:input>
        <mime:content part="getMissionsFirstLast" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getMissionsFirstLast" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStationAreas">
      <http:operation location="Wsiv/getStationAreas"/>
      <wsdl:input>
        <mime:content part="getStationAreas" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getStationAreas" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <http:operation location="Wsiv/getVersion"/>
      <wsdl:input>
        <mime:content part="getVersion" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getVersion" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLines">
      <http:operation location="Wsiv/getLines"/>
      <wsdl:input>
        <mime:content part="getLines" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getLines" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStations">
      <http:operation location="Wsiv/getStations"/>
      <wsdl:input>
        <mime:content part="getStations" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getStations" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMissionsNext">
      <http:operation location="Wsiv/getMissionsNext"/>
      <wsdl:input>
        <mime:content part="getMissionsNext" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getMissionsNext" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDirections">
      <http:operation location="Wsiv/getDirections"/>
      <wsdl:input>
        <mime:content part="getDirections" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getDirections" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMission">
      <http:operation location="Wsiv/getMission"/>
      <wsdl:input>
        <mime:content part="getMission" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getMission" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPerturbations">
      <http:operation location="Wsiv/getPerturbations"/>
      <wsdl:input>
        <mime:content part="getPerturbations" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getPerturbations" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGeoPoints">
      <http:operation location="Wsiv/getGeoPoints"/>
      <wsdl:input>
        <mime:content part="getGeoPoints" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getGeoPoints" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsivSOAP11Binding" type="ns1:WsivPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getItineraries">
      <soap:operation soapAction="urn:getItineraries" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMissionsFrequency">
      <soap:operation soapAction="urn:getMissionsFrequency" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMissionsFirstLast">
      <soap:operation soapAction="urn:getMissionsFirstLast" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStationAreas">
      <soap:operation soapAction="urn:getStationAreas" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <soap:operation soapAction="urn:getVersion" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLines">
      <soap:operation soapAction="urn:getLines" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStations">
      <soap:operation soapAction="urn:getStations" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMissionsNext">
      <soap:operation soapAction="urn:getMissionsNext" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDirections">
      <soap:operation soapAction="urn:getDirections" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMission">
      <soap:operation soapAction="urn:getMission" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPerturbations">
      <soap:operation soapAction="urn:getPerturbations" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGeoPoints">
      <soap:operation soapAction="urn:getGeoPoints" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsivSOAP12Binding" type="ns1:WsivPortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getItineraries">
      <soap12:operation soapAction="urn:getItineraries" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMissionsFrequency">
      <soap12:operation soapAction="urn:getMissionsFrequency" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMissionsFirstLast">
      <soap12:operation soapAction="urn:getMissionsFirstLast" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStationAreas">
      <soap12:operation soapAction="urn:getStationAreas" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <soap12:operation soapAction="urn:getVersion" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLines">
      <soap12:operation soapAction="urn:getLines" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStations">
      <soap12:operation soapAction="urn:getStations" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMissionsNext">
      <soap12:operation soapAction="urn:getMissionsNext" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDirections">
      <soap12:operation soapAction="urn:getDirections" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMission">
      <soap12:operation soapAction="urn:getMission" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPerturbations">
      <soap12:operation soapAction="urn:getPerturbations" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGeoPoints">
      <soap12:operation soapAction="urn:getGeoPoints" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Wsiv">
    <wsdl:port name="WsivSOAP12port_http" binding="ns1:WsivSOAP12Binding">
      <soap12:address location="http://www.ratp.fr/wsiv/services/Wsiv"/>
    </wsdl:port>
    <wsdl:port name="WsivHttpport" binding="ns1:WsivHttpBinding">
      <http:address location="http://www.ratp.fr/wsiv/services/Wsiv"/>
    </wsdl:port>
    <wsdl:port name="WsivSOAP11port_http" binding="ns1:WsivSOAP11Binding">
      <soap:address location="http://www.ratp.fr/wsiv/services/Wsiv"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
