spec/fixtures/symbolic_endpoint.xml

<!--This WSDL was generated by the webservice framework generator Version 1.8.14 on 2011-08-10T13:34:02.156+0200-->
<wsdl:definitions targetNamespace="http://webservices.partner.example.de" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservices.partner.example.de" xmlns:intf="http://webservices.partner.example.de" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns2="http://model.webservices.partner.example.de" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <wsdl:types>
      <schema targetNamespace="http://model.webservices.partner.example.de" xmlns="http://www.w3.org/2001/XMLSchema">
         <complexType name="DtTqEbUser">
            <sequence>
               <element name="simulate" nillable="true" type="xsd:boolean"/>
               <element name="mandant" nillable="true">
                  <simpleType>
                     <restriction base="xsd:string">
                        <maxLength value="5"/>
                     </restriction>
                  </simpleType>
               </element>
               <element name="racfUser" nillable="true">
                  <simpleType>
                     <restriction base="xsd:string">
                        <maxLength value="8"/>
                     </restriction>
                  </simpleType>
               </element>
               <element name="caller" nillable="true">
                  <simpleType>
                     <restriction base="xsd:string">
                        <maxLength value="32"/>
                     </restriction>
                  </simpleType>
               </element>
               <element name="realUser" nillable="true">
                  <simpleType>
                     <restriction base="xsd:string">
                        <maxLength value="32"/>
                     </restriction>
                  </simpleType>
               </element>
               <element fixed="PA8526" name="module" type="xsd:string"/>
            </sequence>
         </complexType>
         <complexType name="Message">
            <sequence>
               <element name="fehlerklasse" nillable="true">
                  <simpleType>
                     <restriction base="xsd:string">
                        <maxLength value="2"/>
                     </restriction>
                  </simpleType>
               </element>
               <element name="fehlerart" nillable="true">
                  <simpleType>
                     <restriction base="xsd:string">
                        <maxLength value="7"/>
                     </restriction>
                  </simpleType>
               </element>
               <element name="fehlermeldung" nillable="true">
                  <simpleType>
                     <restriction base="xsd:string">
                        <maxLength value="200"/>
                     </restriction>
                  </simpleType>
               </element>
               <element name="extraFehlertext" nillable="true">
                  <simpleType>
                     <restriction base="xsd:string">
                        <maxLength value="200"/>
                     </restriction>
                  </simpleType>
               </element>
            </sequence>
         </complexType>
         <complexType name="ArrayOfMessage">
            <sequence>
               <element maxOccurs="unbounded" minOccurs="0" name="message" nillable="true" type="tns2:Message"/>
            </sequence>
         </complexType>
         <complexType name="Returnobject">
            <sequence>
               <element name="messages" nillable="true" type="tns2:ArrayOfMessage"/>
               <element name="returncode" nillable="true">
                  <simpleType>
                     <restriction base="xsd:string">
                        <maxLength value="30"/>
                     </restriction>
                  </simpleType>
               </element>
            </sequence>
         </complexType>
         <complexType name="ArrayOfDtPaStBezRollenStruktur">
            <sequence>
               <element maxOccurs="unbounded" minOccurs="0" name="DtPaStBezRollenStrukturArray" nillable="true" type="tns2:DtPaStBezRollenStruktur"/>
            </sequence>
         </complexType>
         <complexType name="DtPaStBezRollenStruktur">
            <sequence>
               <element name="paCode" nillable="true">
                  <simpleType>
                     <restriction base="xsd:int">
                        <xsd:minInclusive value="0000"/>
                        <xsd:maxExclusive value="32767"/>
                     </restriction>
                  </simpleType>
               </element>
               <element name="kurzbezeichnung" nillable="true">
                  <simpleType>
                     <restriction base="xsd:string">
                        <maxLength value="15"/>
                     </restriction>
                  </simpleType>
               </element>
               <element name="bezeichnung" nillable="true">
                  <simpleType>
                     <restriction base="xsd:string">
                        <maxLength value="60"/>
                     </restriction>
                  </simpleType>
               </element>
               <element name="codeInvers" nillable="true">
                  <simpleType>
                     <restriction base="xsd:int">
                        <xsd:minInclusive value="0000"/>
                        <xsd:maxExclusive value="32767"/>
                     </restriction>
                  </simpleType>
               </element>
               <element name="partnertypCd" nillable="true">
                  <simpleType>
                     <restriction base="xsd:int">
                        <xsd:minInclusive value="0000"/>
                        <xsd:maxExclusive value="32767"/>
                     </restriction>
                  </simpleType>
               </element>
               <element name="sortierfolge" nillable="true">
                  <simpleType>
                     <restriction base="xsd:int">
                        <xsd:minInclusive value="0000"/>
                        <xsd:maxExclusive value="32767"/>
                     </restriction>
                  </simpleType>
               </element>
               <element name="verwendbarkeit" nillable="true">
                  <simpleType>
                     <restriction base="xsd:string">
                        <maxLength value="1"/>
                     </restriction>
                  </simpleType>
               </element>
            </sequence>
         </complexType>
         <complexType name="ROPtsLiesListe">
            <complexContent>
               <extension base="tns2:Returnobject">
                  <sequence>
                     <element name="listenteil" nillable="true" type="tns2:ArrayOfDtPaStBezRollenStruktur"/>
                  </sequence>
               </extension>
            </complexContent>
         </complexType>
      </schema>
   </wsdl:types>
   <wsdl:message name="ptsLiesListeResponse">
      <wsdl:part name="ROPtsLiesListe" type="tns2:ROPtsLiesListe"/>
   </wsdl:message>
   <wsdl:message name="ptsLiesListeRequest">
      <wsdl:part name="user" type="tns2:DtTqEbUser"/>
   </wsdl:message>
   <wsdl:portType name="PaPtsStBezRollen">
      <wsdl:operation name="ptsLiesListe" parameterOrder="user">
         <wsdl:input message="intf:ptsLiesListeRequest" name="ptsLiesListeRequest"/>
         <wsdl:output message="intf:ptsLiesListeResponse" name="ptsLiesListeResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="webservices.partner.example.deSoapBinding" type="intf:PaPtsStBezRollen">
      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="ptsLiesListe">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="ptsLiesListeRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
         </wsdl:input>
         <wsdl:output name="ptsLiesListeResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="PaPtsStBezRollenService">
      <wsdl:port binding="intf:webservices.partner.example.deSoapBinding" name="de.example.partner.webservices">
         <wsdlsoap:address location="http://server:port/CICS/CWBA/DFHWSDSH/DQ5006"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
