spec/fixtures/user_wsdl.xml

<wsdl:definitions
  name="UserWebService"
  targetNamespace="http://v1_0.ws.user.example.com"
  xmlns:ns1="http://cxf.apache.org/bindings/xformat"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://v1_0.ws.user.example.com"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <wsdl:types>
    <xs:schema
      attributeFormDefault="unqualified"
      elementFormDefault="unqualified"
      targetNamespace="http://v1_0.ws.user.example.com"
      xmlns:tns="http://v1_0.ws.user.example.com"
      xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="findUser" type="tns:findUser" />
      <xs:element name="findUserRequest" type="tns:findUserRequest" />
      <xs:element name="baseFindUserRequest" type="tns:baseFindUserRequest" />
      <xs:element name="idCredential" type="tns:idCredential" />
      <xs:element name="emailCredential" type="tns:emailCredential" />
      <xs:element name="findUserResponse" type="tns:findUserResponse" />
      <xs:element name="userResponse" type="tns:userResponse" />

      <xs:complexType name="findUser">
        <xs:sequence>
          <xs:element minOccurs="1" name="requestData" type="tns:findUserRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="findUserRequest">
        <xs:complexContent>
          <xs:extension base="tns:baseFindUserRequest">
            <xs:sequence>
              <xs:element minOccurs="0" name="mandant" type="tns:mandant" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="baseFindUserRequest">
        <xs:choice>
          <xs:element ref="tns:idCredential" />
          <xs:element ref="tns:emailCredential" />
        </xs:choice>
      </xs:complexType>
      <xs:complexType name="idCredential">
        <xs:sequence>
          <xs:element name="id" type="xs:string" />
          <xs:element name="token" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="emailCredential">
        <xs:sequence>
          <xs:element name="email" type="xs:string" />
          <xs:element name="token" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="findUserResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:userResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="userResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:string" />
          <xs:element minOccurs="0" name="email" type="xs:string" />
          <xs:element minOccurs="0" name="username" type="xs:string" />
          <xs:element minOccurs="0" name="firstname" type="xs:string" />
          <xs:element minOccurs="0" name="lastname" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>

  <wsdl:message name="findUser">
    <wsdl:part element="tns:findUser" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="findUserResponse">
    <wsdl:part element="tns:findUserResponse" name="parameters"></wsdl:part>
  </wsdl:message>

  <wsdl:portType name="UserWebService">
    <wsdl:operation name="findUser">
      <wsdl:input message="tns:findUser" name="findUser"></wsdl:input>
      <wsdl:output message="tns:findUserResponse" name="findUserResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="UserWebServiceSoapBinding" type="tns:UserWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="findUser">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="findUser">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findUserResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="UserWebService">
    <wsdl:port binding="tns:UserWebServiceSoapBinding" name="UserWebServicePort">
      <soap:address location="http://example.com/user/1.0/UserService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>