spec/fixtures/wsdl/bookt/bookt13.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://connect.bookt.com/Schemas/StatementDetail.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://connect.bookt.com/Schemas/StatementDetail.xsd"><xs:complexType name="ArrayOfStatementDetail"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="StatementDetail" nillable="true" type="tns:StatementDetail"/></xs:sequence></xs:complexType><xs:element name="ArrayOfStatementDetail" nillable="true" type="tns:ArrayOfStatementDetail"/><xs:complexType name="StatementDetail"><xs:sequence><xs:element minOccurs="0" name="Amount" type="xs:decimal"/><xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="ID" type="xs:int"/><xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Quantity" type="xs:decimal"/><xs:element minOccurs="0" name="Status" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="SubTotal" type="xs:decimal"/><xs:element minOccurs="0" name="Type" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="StatementDetail" nillable="true" type="tns:StatementDetail"/></xs:schema>