spec/fixtures/wsdl/bookt/bookt15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://connect.bookt.com/Schemas/Review.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://connect.bookt.com/Schemas/Review.xsd">
   <xs:import schemaLocation="http://connect.bookt.com/svc/connect.svc?xsd=xsd10" namespace="http://connect.bookt.com/Schemas/Person.xsd"/>
   <xs:complexType name="Review">
      <xs:sequence>
         <xs:element minOccurs="0" name="AltID" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="ExternalLink" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="ID" type="xs:int"/>
         <xs:element minOccurs="0" name="Rating" type="xs:int"/>
         <xs:element minOccurs="0" name="Response" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="ReviewedBy" nillable="true" type="q1:Person" xmlns:q1="http://connect.bookt.com/Schemas/Person.xsd"/>
         <xs:element minOccurs="0" name="ReviewedEntityID" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="SubmissionDate" type="xs:dateTime"/>
         <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Review" nillable="true" type="tns:Review"/>
   <xs:complexType name="ArrayOfReview">
      <xs:sequence>
         <xs:element minOccurs="0" maxOccurs="unbounded" name="Review" nillable="true" type="tns:Review"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ArrayOfReview" nillable="true" type="tns:ArrayOfReview"/>
</xs:schema>
