spec/fixtures/wsdl/bookt/bookt5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://connect.bookt.com/Schemas/Media.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://connect.bookt.com/Schemas/Media.xsd">
   <xs:complexType name="ArrayOfMedia">
      <xs:sequence>
         <xs:element minOccurs="0" maxOccurs="unbounded" name="Media" nillable="true" type="tns:Media"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ArrayOfMedia" nillable="true" type="tns:ArrayOfMedia"/>
   <xs:complexType name="Media">
      <xs:sequence>
         <xs:element minOccurs="0" name="Caption" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="ID" type="xs:int"/>
         <xs:element minOccurs="0" name="MediaName" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="MediumURL" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="OriginalURL" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="ThumbnailURL" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Media" nillable="true" type="tns:Media"/>
</xs:schema>
