spec/fixtures/wsdl/rio2/rio2_2.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://www.adactus.co.uk/UISupportServices/ServiceData/v1.0.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.adactus.co.uk/UISupportServices/ServiceData/v1.0.0.0">
   <xs:import schemaLocation="http://193.155.1.72/MyCentral-RioII-Services/SecurityService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Adactus.RICO.UISupportServices.Contract.ServiceData.Enumerations"/>
   <xs:complexType name="StartSessionRequest">
      <xs:complexContent mixed="false">
         <xs:extension base="tns:ServiceRequestBase">
            <xs:sequence>
               <xs:element name="ApplicationId" nillable="true" type="xs:string">
                  <xs:annotation>
                     <xs:appinfo>
                        <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
                     </xs:appinfo>
                  </xs:annotation>
               </xs:element>
               <xs:element name="CultureCode" nillable="true" type="xs:string">
                  <xs:annotation>
                     <xs:appinfo>
                        <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
                     </xs:appinfo>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="StartSessionRequest" nillable="true" type="tns:StartSessionRequest"/>
   <xs:complexType name="ServiceRequestBase">
      <xs:sequence>
         <xs:element minOccurs="0" name="Context" nillable="true" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ServiceRequestBase" nillable="true" type="tns:ServiceRequestBase"/>
   <xs:complexType name="StartSessionResponse">
      <xs:complexContent mixed="false">
         <xs:extension base="tns:ServiceResponseBase">
            <xs:sequence>
               <xs:element minOccurs="0" name="ResultType" type="tns:StartSessionResultType"/>
               <xs:element minOccurs="0" name="Session" nillable="true" type="tns:SessionDTO"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="StartSessionResponse" nillable="true" type="tns:StartSessionResponse"/>
   <xs:complexType name="ServiceResponseBase">
      <xs:sequence>
         <xs:element minOccurs="0" name="Context" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="ErrorType" type="tns:ServiceErrorType"/>
         <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean"/>
         <xs:element minOccurs="0" name="ValidationErrors" nillable="true" type="tns:ArrayOfValidationErrorDTO"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ServiceResponseBase" nillable="true" type="tns:ServiceResponseBase"/>
   <xs:simpleType name="ServiceErrorType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="None"/>
         <xs:enumeration value="GeneralError"/>
         <xs:enumeration value="AuthenticationError"/>
         <xs:enumeration value="SessionExpired"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="ServiceErrorType" nillable="true" type="tns:ServiceErrorType"/>
   <xs:complexType name="ArrayOfValidationErrorDTO">
      <xs:sequence>
         <xs:element minOccurs="0" maxOccurs="unbounded" name="ValidationErrorDTO" nillable="true" type="tns:ValidationErrorDTO"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ArrayOfValidationErrorDTO" nillable="true" type="tns:ArrayOfValidationErrorDTO"/>
   <xs:complexType name="ValidationErrorDTO">
      <xs:sequence>
         <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="ErrorDescription" nillable="true" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ValidationErrorDTO" nillable="true" type="tns:ValidationErrorDTO"/>
   <xs:simpleType name="StartSessionResultType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="Success"/>
         <xs:enumeration value="InvalidApplicationId"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="StartSessionResultType" nillable="true" type="tns:StartSessionResultType"/>
   <xs:complexType name="SessionDTO">
      <xs:sequence>
         <xs:element minOccurs="0" name="ApplicationId" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="CultureCode" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="SessionId" nillable="true" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="SessionDTO" nillable="true" type="tns:SessionDTO"/>
   <xs:complexType name="ServiceFault">
      <xs:sequence>
         <xs:element minOccurs="0" name="ErrorType" type="tns:ServiceErrorType"/>
         <xs:element minOccurs="0" name="FaultMessage" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="FaultReference" nillable="true" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ServiceFault" nillable="true" type="tns:ServiceFault"/>
   <xs:complexType name="GetSessionStateRequest">
      <xs:complexContent mixed="false">
         <xs:extension base="tns:ServiceRequestBase">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="GetSessionStateRequest" nillable="true" type="tns:GetSessionStateRequest"/>
   <xs:complexType name="GetSessionStateResponse">
      <xs:complexContent mixed="false">
         <xs:extension base="tns:ServiceResponseBase">
            <xs:sequence>
               <xs:element minOccurs="0" name="State" nillable="true" type="tns:SessionStateDTO"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="GetSessionStateResponse" nillable="true" type="tns:GetSessionStateResponse"/>
   <xs:complexType name="SessionStateDTO">
      <xs:sequence>
         <xs:element minOccurs="0" name="ClientOrderTypeId" nillable="true" type="xs:int"/>
         <xs:element minOccurs="0" name="CustomerDeliveryAddress" nillable="true" type="tns:AddressDTO"/>
         <xs:element minOccurs="0" name="DateOrderRequired" nillable="true" type="xs:dateTime"/>
         <xs:element minOccurs="0" name="FulfillmentTimeTypeId" nillable="true" type="xs:int"/>
         <xs:element minOccurs="0" name="IsAuthenticated" type="xs:boolean"/>
         <xs:element minOccurs="0" name="IsOrderActive" type="xs:boolean"/>
         <xs:element minOccurs="0" name="OrderClassId" nillable="true" type="xs:int"/>
         <xs:element minOccurs="0" name="StoreId" nillable="true" type="xs:int"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="SessionStateDTO" nillable="true" type="tns:SessionStateDTO"/>
   <xs:complexType name="AddressDTO">
      <xs:sequence>
         <xs:element minOccurs="0" name="AddressDescription" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="AddressId" type="xs:int"/>
         <xs:element minOccurs="0" name="AddressType" type="tns:AddressType"/>
         <xs:element minOccurs="0" name="BuildingLetter" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="BuildingName" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="BuildingNumber" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="BuildingNumberHigh" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="BuildingNumberLow" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="BuildingNumberParity" type="q1:AddressSearchNumberParity" xmlns:q1="http://schemas.datacontract.org/2004/07/Adactus.RICO.UISupportServices.Contract.ServiceData.Enumerations"/>
         <xs:element minOccurs="0" name="CountryId" type="xs:int"/>
         <xs:element minOccurs="0" name="CountryText" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="District" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="Intersection" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="IsFavourite" type="xs:boolean"/>
         <xs:element minOccurs="0" name="Latitude" type="xs:decimal"/>
         <xs:element minOccurs="0" name="Longitude" type="xs:decimal"/>
         <xs:element minOccurs="0" name="OrganisationName" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="PostCodeOrZip" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="ProviderAddressKey" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="RoomNumber" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="RoomNumberHigh" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="RoomNumberLow" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="RoomNumberParity" type="q2:AddressSearchNumberParity" xmlns:q2="http://schemas.datacontract.org/2004/07/Adactus.RICO.UISupportServices.Contract.ServiceData.Enumerations"/>
         <xs:element minOccurs="0" name="StreetName" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="TaxNumber" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="Territory" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="TownCity" nillable="true" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="AddressDTO" nillable="true" type="tns:AddressDTO"/>
   <xs:simpleType name="AddressType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="NOT_SET"/>
         <xs:enumeration value="Residential"/>
         <xs:enumeration value="Store"/>
         <xs:enumeration value="Business"/>
         <xs:enumeration value="Delivery"/>
         <xs:enumeration value="Billing"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="AddressType" nillable="true" type="tns:AddressType"/>
   <xs:complexType name="GetSessionFromTokenRequest">
      <xs:complexContent mixed="false">
         <xs:extension base="tns:ServiceRequestBase">
            <xs:sequence>
               <xs:element name="ApplicationId" nillable="true" type="xs:string">
                  <xs:annotation>
                     <xs:appinfo>
                        <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
                     </xs:appinfo>
                  </xs:annotation>
               </xs:element>
               <xs:element name="CultureCode" nillable="true" type="xs:string">
                  <xs:annotation>
                     <xs:appinfo>
                        <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
                     </xs:appinfo>
                  </xs:annotation>
               </xs:element>
               <xs:element name="UrlEncodedSessionToken" nillable="true" type="xs:string">
                  <xs:annotation>
                     <xs:appinfo>
                        <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
                     </xs:appinfo>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="GetSessionFromTokenRequest" nillable="true" type="tns:GetSessionFromTokenRequest"/>
   <xs:complexType name="GetSessionFromTokenResponse">
      <xs:complexContent mixed="false">
         <xs:extension base="tns:ServiceResponseBase">
            <xs:sequence>
               <xs:element minOccurs="0" name="ResultType" type="tns:GetSessionFromTokenResultType"/>
               <xs:element minOccurs="0" name="Session" nillable="true" type="tns:SessionDTO"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="GetSessionFromTokenResponse" nillable="true" type="tns:GetSessionFromTokenResponse"/>
   <xs:simpleType name="GetSessionFromTokenResultType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="Success"/>
         <xs:enumeration value="InvalidAuthenticationToken"/>
         <xs:enumeration value="InvalidApplicationInstance"/>
         <xs:enumeration value="SessionExpired"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="GetSessionFromTokenResultType" nillable="true" type="tns:GetSessionFromTokenResultType"/>
</xs:schema>
