spec/fixtures/wsdl/rio2/rio2.wsdl

<wsdl:definitions name="SecurityService" targetNamespace="http://www.adactus.co.uk/UISupportServices/ISecurityService/v1.0.0.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.adactus.co.uk/UISupportServices/ISecurityService/v1.0.0.0" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org/" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
   <wsdl:import namespace="http://tempuri.org/" location="http://193.155.1.72/MyCentral-RioII-Services/SecurityService.svc?wsdl=wsdl0"/>
   <wsdl:types>
      <xsd:schema targetNamespace="http://www.adactus.co.uk/UISupportServices/ISecurityService/v1.0.0.0/Imports">
         <xsd:import schemaLocation="http://193.155.1.72/MyCentral-RioII-Services/SecurityService.svc?xsd=xsd0" namespace="http://www.adactus.co.uk/UISupportServices/ISecurityService/v1.0.0.0"/>
         <xsd:import schemaLocation="http://193.155.1.72/MyCentral-RioII-Services/SecurityService.svc?xsd=xsd2" namespace="http://www.adactus.co.uk/UISupportServices/ServiceData/v1.0.0.0"/>
         <xsd:import schemaLocation="http://193.155.1.72/MyCentral-RioII-Services/SecurityService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
         <xsd:import schemaLocation="http://193.155.1.72/MyCentral-RioII-Services/SecurityService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Adactus.RICO.UISupportServices.Contract.ServiceData.Enumerations"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="ISecurityService_StartSession_InputMessage">
      <wsdl:part name="parameters" element="tns:StartSession"/>
   </wsdl:message>
   <wsdl:message name="ISecurityService_StartSession_OutputMessage">
      <wsdl:part name="parameters" element="tns:StartSessionResponse"/>
   </wsdl:message>
   <wsdl:message name="ISecurityService_StartSession_ServiceFaultFault_FaultMessage">
      <wsdl:part name="detail" element="q1:ServiceFault" xmlns:q1="http://www.adactus.co.uk/UISupportServices/ServiceData/v1.0.0.0"/>
   </wsdl:message>
   <wsdl:message name="ISecurityService_EndSession_InputMessage">
      <wsdl:part name="parameters" element="tns:EndSession"/>
   </wsdl:message>
   <wsdl:message name="ISecurityService_EndSession_OutputMessage">
      <wsdl:part name="parameters" element="tns:EndSessionResponse"/>
   </wsdl:message>
   <wsdl:message name="ISecurityService_EndSession_ServiceFaultFault_FaultMessage">
      <wsdl:part name="detail" element="q2:ServiceFault" xmlns:q2="http://www.adactus.co.uk/UISupportServices/ServiceData/v1.0.0.0"/>
   </wsdl:message>
   <wsdl:message name="ISecurityService_GetSessionState_InputMessage">
      <wsdl:part name="parameters" element="tns:GetSessionState"/>
   </wsdl:message>
   <wsdl:message name="ISecurityService_GetSessionState_OutputMessage">
      <wsdl:part name="parameters" element="tns:GetSessionStateResponse"/>
   </wsdl:message>
   <wsdl:message name="ISecurityService_GetSessionState_ServiceFaultFault_FaultMessage">
      <wsdl:part name="detail" element="q3:ServiceFault" xmlns:q3="http://www.adactus.co.uk/UISupportServices/ServiceData/v1.0.0.0"/>
   </wsdl:message>
   <wsdl:message name="ISecurityService_GetSessionFromToken_InputMessage">
      <wsdl:part name="parameters" element="tns:GetSessionFromToken"/>
   </wsdl:message>
   <wsdl:message name="ISecurityService_GetSessionFromToken_OutputMessage">
      <wsdl:part name="parameters" element="tns:GetSessionFromTokenResponse"/>
   </wsdl:message>
   <wsdl:message name="ISecurityService_GetSessionFromToken_ServiceFaultFault_FaultMessage">
      <wsdl:part name="detail" element="q4:ServiceFault" xmlns:q4="http://www.adactus.co.uk/UISupportServices/ServiceData/v1.0.0.0"/>
   </wsdl:message>
   <wsdl:portType name="ISecurityService">
      <wsdl:operation name="StartSession">
         <wsdl:input wsaw:Action="http://www.adactus.co.uk/UISupportServices/ISecurityService/v1.0.0.0/ISecurityService/StartSession" message="tns:ISecurityService_StartSession_InputMessage"/>
         <wsdl:output wsaw:Action="http://www.adactus.co.uk/UISupportServices/ISecurityService/v1.0.0.0/ISecurityService/StartSessionResponse" message="tns:ISecurityService_StartSession_OutputMessage"/>
         <wsdl:fault wsaw:Action="http://www.adactus.co.uk/UISupportServices/ISecurityService/v1.0.0.0/ISecurityService/StartSessionServiceFaultFault" name="ServiceFaultFault" message="tns:ISecurityService_StartSession_ServiceFaultFault_FaultMessage"/>
      </wsdl:operation>
      <wsdl:operation name="EndSession">
         <wsdl:input wsaw:Action="http://www.adactus.co.uk/UISupportServices/ISecurityService/v1.0.0.0/ISecurityService/EndSession" message="tns:ISecurityService_EndSession_InputMessage"/>
         <wsdl:output wsaw:Action="http://www.adactus.co.uk/UISupportServices/ISecurityService/v1.0.0.0/ISecurityService/EndSessionResponse" message="tns:ISecurityService_EndSession_OutputMessage"/>
         <wsdl:fault wsaw:Action="http://www.adactus.co.uk/UISupportServices/ISecurityService/v1.0.0.0/ISecurityService/EndSessionServiceFaultFault" name="ServiceFaultFault" message="tns:ISecurityService_EndSession_ServiceFaultFault_FaultMessage"/>
      </wsdl:operation>
      <wsdl:operation name="GetSessionState">
         <wsdl:input wsaw:Action="http://www.adactus.co.uk/UISupportServices/ISecurityService/v1.0.0.0/ISecurityService/GetSessionState" message="tns:ISecurityService_GetSessionState_InputMessage"/>
         <wsdl:output wsaw:Action="http://www.adactus.co.uk/UISupportServices/ISecurityService/v1.0.0.0/ISecurityService/GetSessionStateResponse" message="tns:ISecurityService_GetSessionState_OutputMessage"/>
         <wsdl:fault wsaw:Action="http://www.adactus.co.uk/UISupportServices/ISecurityService/v1.0.0.0/ISecurityService/GetSessionStateServiceFaultFault" name="ServiceFaultFault" message="tns:ISecurityService_GetSessionState_ServiceFaultFault_FaultMessage"/>
      </wsdl:operation>
      <wsdl:operation name="GetSessionFromToken">
         <wsdl:input wsaw:Action="http://www.adactus.co.uk/UISupportServices/ISecurityService/v1.0.0.0/ISecurityService/GetSessionFromToken" message="tns:ISecurityService_GetSessionFromToken_InputMessage"/>
         <wsdl:output wsaw:Action="http://www.adactus.co.uk/UISupportServices/ISecurityService/v1.0.0.0/ISecurityService/GetSessionFromTokenResponse" message="tns:ISecurityService_GetSessionFromToken_OutputMessage"/>
         <wsdl:fault wsaw:Action="http://www.adactus.co.uk/UISupportServices/ISecurityService/v1.0.0.0/ISecurityService/GetSessionFromTokenServiceFaultFault" name="ServiceFaultFault" message="tns:ISecurityService_GetSessionFromToken_ServiceFaultFault_FaultMessage"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:service name="SecurityService">
      <wsdl:port name="BasicHttpBinding_ISecurityService" binding="i0:BasicHttpBinding_ISecurityService">
         <soap:address location="http://193.155.1.72/MyCentral-RioII-Services/SecurityService.svc/soap"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
